extends ../layouts/default

block content
	.custom-container
		h1(style="margin-top: 0") Sobre Nosotros
		p.lead Plataforma que almacena los datasets completos históricos de las ciudades Cómo Vamos y otros que hacen parte de la Plataforma de Datos Abiertos para su descarga en línea.
		h2 ¿Qué datos tiene la plataforma?
		p La plataforma de datos de la Red de Ciudades Cómo Vamos tiene todos los datos recopilados desde el nacimiento de cada una de las 11 iniciativas. De acuerdo a la metodología utilizada por el programa, se recopilan dos tipos de datos:
		ul
			li Datos Objetivos: Indicadores recopilados por ciudad, que describen el estado de las temáticas que dan cuenta de la calidad de vida en cada ciudad. Por ejemplo, la tasa de homicidios o de mortalidad en Medellín.
			li Datos Subjetivos: Respuestas a las preguntas de la Encuesta de Percepción ciudadana aplicada anualmente en cada ciudad. La encuesta indaga sobre los temas que se incluyen en los indicadores objetivos, por ejemplo, sobre victimización, educación etc.
		h2 ¿Cómo encuentro estos datos?
		p Los datos están organizados por ciudad. Por lo que puedes acceder desde la página principal de ciudatos.
		p Los datos los puedes encontrar por año, por ciudad, o puedes entrar a ciudatos para descargar la base completa para todas las ciudades.
		p ¡Recuerda abrir el archivo de diccionario de datos al mismo tiempo que trabajes con la base de datos!