extends ../layouts/default

block css
  style.
    .carousel {
      height: 200px;
      position: relative;
      width: 100%;
    }
    .carousel .carousel-indicators {
      opacity: 0;
    }
    .carousel .carousel-inner {
      background: #171614;
      height: 100%;
      width: 100%;
    }
    .carousel .item {
      background: no-repeat center center;
      background-size: cover;
      height: 100%;
      position: relative;
      width: 100%;
    }
    .carousel .item span {
      color: #ffffff;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 25px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .city-profile img {
      margin: 0 auto;
    }

block content
  #cities-carousel.carousel.slide(data-ride="carousel")
    .carousel-inner(role="listbox")
      .item.active(style="background-image: url(/images/site/banners/banner_aburra.png)" data-city="#aburra")
        span Aburrá
      .item(style="background-image: url(/images/site/banners/banner_barranquilla.png)" data-city="#barranquilla")
        span Barranquilla
      .item(style="background-image: url(/images/site/banners/banner_bogota.png)" data-city="#bogota")
        span Bogotá
      .item(style="background-image: url(/images/site/banners/banner_bucaramanga.png)" data-city="#bucaramanga")
        span Bucaramanga
      .item(style="background-image: url(/images/site/banners/banner_cali.png)" data-city="#cali")
        span Cali
      .item(style="background-image: url(/images/site/banners/banner_cartagena.png)" data-city="#cartagena")
        span Cartagena
      .item(style="background-image: url(/images/site/banners/banner_cucuta.png)" data-city="#cucuta")
        span Cúcuta
      .item(style="background-image: url(/images/site/banners/banner_ibague.png)" data-city="#ibague")
        span Ibagué
      .item(style="background-image: url(/images/site/banners/banner_manizales.png)" data-city="#manizales")
        span Manizales
      .item(style="background-image: url(/images/site/banners/banner_medellin.png)" data-city="#medellin")
        span Medellín
      .item(style="background-image: url(/images/site/banners/banner_pereira.png)" data-city="#pereira")
        span Pereira
      .item(style="background-image: url(/images/site/banners/banner_santa_marta.png)" data-city="#santa_marta")
        span Santa Marta
      .item(style="background-image: url(/images/site/banners/banner_yumbo.png)" data-city="#yumbo")
        span Yumbo

    a.left.carousel-control(href="#cities-carousel" data-slide="prev" role="button")
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href="#cities-carousel" data-slide="next" role="button")
      span.glyphicon.glyphicon-chevron-right
  
  .container-fluid
    #aburra.city-profile
      span Aburrá
    #barranquilla.city-profile
      span Barranquilla
    #bogota.city-profile
      span Bogotá
    #bucaramanga.city-profile
      span Bucaramanga
    #cali.city-profile
      span Cali
    #cartagena.city-profile
      span Cartagena
    #cucuta.city-profile
      span Cúcuta
    #ibague.city-profile
      span Ibagué
    #manizales.city-profile
      span Manizales
    #medellin.city-profile
      span Medellín
    #pereira.city-profile
      span Pereira
    #santa_marta.city-profile
      span Santa Marta
    #yumbo.city-profile
      span Yumbo

block js
  script(src="/js/margin.js")
  script.
    $(document).ready(function() {
      var actual = $('.item.active').attr('data-city');
      $('.city-profile').hide();
      $(actual).show();
      $('.carousel').carousel({ interval: false })
      $('#cities-carousel').on('slid.bs.carousel', function(event) {
        var city = $(event.relatedTarget).attr('data-city');
        $('.city-profile').hide();
        $(city).fadeIn(700);
      })
    })