extends ../layouts/default

mixin documentcard(document)
	.col-md-4.col-sm-6: .document-item
		img.img-responsive(src="/img/post.jpg", alt="")
		.document-info.text-size-large.text-color-white= document.title
		a.document-url.text-size-x-large.anchor.anchor-white(href=`${document.file.url}` target="_blank" rel="noopener noreferrer") PDF

block css
	style.
		main {
			padding-top: 3vw;
		}
		.document-item {
			margin-bottom: 30px;
		}
		.col-md-4.col-sm-6:nth-last-child(-n+1) .document-item {
			margin-bottom: 0;
		}
block content
	.container
		.row
			each document,i in data.documents
				+documentcard(document)