extends ../layouts/default

block css
	link(rel="stylesheet", href="/components/owl-carousel/dist/assets/owl.carousel.min.css")
	link(rel="stylesheet", href="/components/owl-carousel/dist/assets/owl.theme.default.min.css")

block vars
	- inner_padding = "padding: 0 15px"

block content
	section.container-fluid.intro-section
		img.intro-bg.hidden-xs(src="/images/site/appexplora.png", alt="")
		.centered.half: .flex.flex--wrap(style=`${inner_padding}`)
			.intro-section-left.flex.flex--column(style="align-items: flex-start")
				img(src="/images/logos/logociudatoscolor.png", alt="")
				p.text-color-white Todos vemos, pero pocos conocemos. Ciudatos, información que empodera al servicio de todos los ciudadanos
				.social-icons
					a.facebook(href="https://www.facebook.com/FundCorona/" target="_blank" rel="noopene noreferrer")
						span.fa-stack
							i.fa.fa-circle.fa-stack-2x
							i.fa.fa-facebook.fa-stack-1x.fa-inverse
					a.twitter(href="https://twitter.com/fundcorona" target="_blank" rel="noopener noreferrer")
						span.fa-stack
							i.fa.fa-circle.fa-stack-2x
							i.fa.fa-twitter.fa-stack-1x.fa-inverse
					a.linkedin(href="https://www.linkedin.com/company/6411892/" target="_blank" rel="noopener noreferrer")
						span.fa-stack
							i.fa.fa-circle.fa-stack-2x
							i.fa.fa-linkedin.fa-stack-1x.fa-inverse
					a.youtube(href="https://www.youtube.com/user/fundacioncorona" target="_blank" rel="noopener noreferrer")
						span.fa-stack
							i.fa.fa-circle.fa-stack-2x
							i.fa.fa-youtube-play.fa-stack-1x.fa-inverse
			.intro-section-right.hidden-xs
				h1.section-title-white.font-hind: a.text-color-white.font-hind(href="/explora") Explora
				p.text-color-white Explora los datos por temas de inteŕes

	section.visible-xs(style="background-color: #26327e; padding-bottom: 2vw;")
		.container-large.text-center
			h1.section-title-white.font-hind: a.text-color-white.font-hind(href="/explora") Explora
			p.text-color-white Explora los datos por temas de inteŕes
				
	section.cities-section
		.container-fluid
			h1.font-hind.section-title-blue.text-center: a.text-color-blue(href="/ciudades") Ciudades
			pre.text-color-blue.section-subtitle.
				¿Crees conocer las ciudades colombianas?
				Descubre cómo está su calidad de vida a profundidad
			.owl-carousel.owl-theme
				a.city-item(href="/ciudades")
					.city-info
						img(src="/images/site/todobogota.png", alt="Ciudad")
				a.city-item(href="/ciudades")
					.city-info
						img(src="/images/site/todocartagena.png", alt="Ciudad")
				a.city-item(href="/ciudades")
					.city-info
						img(src="/images/site/todobarranquilla.png", alt="Ciudad")


	div(style="height: 150px; background: url(/images/site/transiciontemas.png) no-repeat center 25px;background-size: cover")

	section.topics-section.half
		.container-large
			h1.font-hind.section-title-blue.text-center: a.text-color-blue(href="#") Temas
			pre.text-color-blue.section-subtitle.
				Conoce cómo va la educación, salud, seguridad
				y muchos más temas que afectan tu calidad vida
			.topics-container
				a(href="#").topic-item.text-color-blue
					img(src="/images/icons/pobrezayequidad.png", alt="")
					pre.topic-name.text-size-large.
						Pobreza
						y Equidad
				a(href="#").topic-item.text-color-blue
					img(src="/images/icons/educacion.png", alt="")
					pre.topic-name.text-size-large.
						Educación
				a(href="#").topic-item.text-color-blue
					img(src="/images/icons/salud.png", alt="")
					pre.topic-name.text-size-large.
						Salud
				a(href="#").topic-item.text-color-blue
					img(src="/images/icons/seguridadyconvivencia.png", alt="")
					pre.topic-name.text-size-large.
						Seguridad y
						Convivencia Ciudadana
				a(href="#").topic-item.text-color-blue
					img(src="/images/icons/habitaturbano.png", alt="")
					pre.topic-name.text-size-large.
						Hábitat
						urbano
				a(href="#").topic-item.text-color-blue
					img(src="/images/icons/medioambiente.png", alt="")
					pre.topic-name.text-size-large.
						Medio
						Ambiente
				a(href="#").topic-item.text-color-blue
					img(src="/images/icons/movilidad.png", alt="")
					pre.topic-name.text-size-large.
						Movilidad
				a(href="#").topic-item.text-color-blue
					img(src="/images/icons/buengobiernoyciudadania.png", alt="")
					pre.topic-name.text-size-large.
						Buen gobierno
						y Ciudadanía
				a(href="#").topic-item.text-color-blue
					img(src="/images/icons/entornomacroeconomico.png", alt="")
					pre.topic-name.text-size-large.
						Entorno
						Macroeconómico
				a(href="#").topic-item.text-color-blue
					img(src="/images/icons/bienestarejecutivo.png", alt="")
					pre.topic-name.text-size-large.
						Bienestar
						Subjetivo
	section.documents-section
		.container-large
			h1.font-hind.section-title-blue.text-center: a.text-color-blue(href="#") Publicaciones
			pre.text-color-blue.section-subtitle.
				Consulta los distintos informes y análisis
				sobre la calidad de vida de las ciudades
			.row
				each document in data.documents
					.col-md-4.col-sm-6: .document-item
						img.img-responsive(src="/img/post.jpg", alt="")
						.document-info.text-size-large.text-color-white= document.title
						a.document-url.text-size-x-large.anchor.anchor-white(href=`${document.file.url ? document.file.url : ''}`) PDF

	div(style="height: 150px; background: url(/images/site/transicionbasesdedatos.png) no-repeat center 15px;background-size: cover")
	
	section.database-section
		.container-large
			h1.font-hind.section-title-white.text-center: a.text-color-white(href="#") Bases de datos
			pre.text-color-white.section-subtitle.
				Navega y explora el mundo de los
				datos abiertos de las ciudades colombianas
			.database-section-info.flex.flex--space-between.flex--vertical-align.flex--wrap
				.database-text
					p.text-color-white.font-hind.shrink
						span.aqua Sí, 
						| los 
						span.aqua datos 
						| son 
						span.aqua abiertos, accede 
						| a las bases de datos y 
						span.aqua descarga 
						| la información en los 
						span.aqua formatos 
						| que más te convienen
				img.img-responsive(src="/images/site/basesdedatos.png", alt="")

block js
	script(src="/components/owl-carousel/dist/owl.carousel.min.js")
	script.
		$(".owl-carousel").owlCarousel({
			center: false,
			dots: false,
			items: 1,
			margin: 20,
			slideBy: 1,
			responsive: {
				768: {
					items: 3,
					slideBy: 3
				},
				992: {
					items: 3,
					slideBy: 3
				}
			}
		});

		//- function resize() {
		//- 	$('.topic-item').css('height', $('.topic-item').width() + 'px');
		//- }

		//- $(document).ready(function() {
		//- 	resize();
		//- 	window.addEventListener('resize', resize);
		//- })