extends ../layouts/default


mixin post(post)
	div.card.col-md-4
		if post.image.exists
			img(src=post._.image.fit(400,400)).img.img-responsive
		.card-block
			//- .post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
			h4.card-title: a(href='/'+post.lang+'/blog/post/' + post.slug).postTitle= post.title
			//- div.postBrief.truncate120
			p!= post.content.brief

block lang
		ul#lang
			li: a(href='/en')
				small EN
			li: a(href='/es')
				small ES
			//- li: a(href='/it')
				small IT
block content

	.container

		.row.home-section
			div.col-md-6
				h4 Italian Citizenship
				p Italy is synonym of art and history. Italy gave us world renowned characters like Dante Alighieri, Cristoforo Colombo o Niccoló Macchiavelli. There is an invaluable heritage still to be discovered, that is, all communities of italian descent present almost in every single country.
				p In this blog we embark you on trip to italian heritage throughout the world along with the possibilities for you to claim your italian citizenship. It is the right hold by every single italian immigrant from the XIX century to transmit their citizenship to their descendants. Sometimes it is necessary to start a legal process in italy to claim that right. We take care of that for you.

			div.col-md-6
				#myCarousel.carousel.slide(data-ride='carousel')
					// Indicators
					ol.carousel-indicators
						li.active(data-target='#myCarousel', data-slide-to='0')
						li(data-target='#myCarousel', data-slide-to='1')
						li(data-target='#myCarousel', data-slide-to='2')
						li(data-target='#myCarousel', data-slide-to='3')
						li(data-target='#myCarousel', data-slide-to='4')
						li(data-target='#myCarousel', data-slide-to='5')
						li(data-target='#myCarousel', data-slide-to='6')
					// Wrapper for slides
					.carousel-inner(role='listbox')
						.item.active
							img(src='img/slide-1.jpg', alt='Compreometido')
						.item
							img(src='img/slide-2.jpg', alt='Unconventional')
						.item
							img(src='img/slide-3.jpg', alt='Moderno')
						.item
							img(src='img/slide-4.jpg', alt='Foolish')
						.item
							img(src='img/slide-5.jpg', alt='Unconventional')
						.item
							img(src='img/slide-6.jpg', alt='Moderno')
						.item
							img(src='img/slide-7.jpg', alt='Foolish')
					// Left and right controls
					a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
						span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
						span.sr-only Previous
					a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
						span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
						span.sr-only Next

		.row.home-section
			h3 Latest content
			each post in data.posts
				+post(post)
		.row
			a(href="/blog") See all blog posts

		.row.home-section
			div.col-md-6
				h4 Do you need help with you italian citizenship?
				h4 Contact Us
				iframe#contactForm(height="400",allowTransparency="true",frameborder="0",scrolling="no",style="width:100%;border:none",src="https://randommonkey.wufoo.com/embed/mlrw56w1xpshx4/")
			div.col-md-6
				h4 What our customers say
				div#quotes
					div.quote
						strong With the friendly support of Ciudatos I got my italian citizenship in no time.
						p.quote-author Natalia Daza - Business Executive Health Industry
					//- div.quote
						strong Siendo abogado valoré especialmente el respaldo legal especializado en derecho italiano en América Latina.
						p.quote-author Jorge Gaitán - Abogado 
					div.quote
						strong Despite the difficulty of finding the documentation of my italian great-grandmother. The firm gave us all their support in the legal process to get a sentence in our favor.
						p.quote-author José Andrés Romero - Partner en Brigard Urrutia
					div.quote
						strong After 5 years Ciudatos found the legal way to accomplish our dream of getting out italian citizenship.
						p.quote-author Marta Sánchez Escobar - Empresaria en Recursos Humanos
					div.quote
						strong The experience, professional work and the amazing research team of the firm, helped resolve our citizenship process in our favor.
						p.quote-author Rodrigo Meza Echevarría - Architect and diplomat the  colombian embassy in Italy.
				
