extends ../layouts/default

block css
	link(rel="stylesheet", href="/components/owl-carousel/dist/assets/owl.carousel.min.css")
	link(rel="stylesheet", href="/components/owl-carousel/dist/assets/owl.theme.default.min.css")

block content
	.custom-container(style="font-family: 'Lato', sans-serif;font-weight: 300")
		.intro-section.hidden-sm.hidden-xs
			.intro-about
				div
					img(src="/images/logo.png", alt="ciudatos")
					.about-description 
						span Plataforma de datos abiertos sobre ciudades y temas de Colombia para el fortalecimiento de la democracia y participación ciudadana
			.intro-visualize(style="background-image: url(/img/banner-corona.png)")
				.visualize-explore
					span Explora los datos con la herramienta de visualización
					a(href="#") Visualizar
		.intro-about-mobile.visible-sm.visible-xs
			div.text-center
				img(src="/images/logo.png", alt="ciudatos")
				.about-description-mobile
					span Plataforma de datos abiertos sobre ciudades y temas de Colombia para el fortalecimiento de la democracia y participación ciudadana
		.intro-visualize-mobile.visible-sm.visible-xs(style="background-image: url(/img/banner-corona.png)")
			.visualize-explore-mobile
				span Explora los datos con la herramienta de visualización
				a(href="#") Visualizar
		.body-section
			.cities-section
				h4.text-center Consulta la información por ciudades
				.owl-carousel
					a(href="#").city
						.city-info
							img.img-responsive(src="/img/city.jpg", alt="Ciudad")
							.city-name Bogotá
					a(href="#").city
						.city-info
							img.img-responsive(src="/img/city.jpg", alt="Ciudad")
							.city-name Cartagena
					a(href="#").city
						.city-info
							img.img-responsive(src="/img/city.jpg", alt="Ciudad")
							.city-name Medellín
					a(href="#").city
						.city-info
							img.img-responsive(src="/img/city.jpg", alt="Ciudad")
							.city-name Pereira
					a(href="#").city
						.city-info
							img.img-responsive(src="/img/city.jpg", alt="Ciudad")
							.city-name Manizales
					a(href="#").city
						.city-info
							img.img-responsive(src="/img/city.jpg", alt="Ciudad")
							.city-name Barranquilla
			.topics-section
				h4.text-center Explora los datos por temas de interés
		.documents-section
			h4.text-center(style="color: #d9648d;") Publicaciones
			h4.text-center Conoce que puedes hacer por tu ciudad
			.documents-container
				each document in data.documents
					.document
						img.img-responsive(src=document._.image.fit(160,90))
						.document-info
							p: strong #{document.title}
							a.btn.btn-default.btn-xs(href=`${document.file.url}` target="_blank") PDF
			div.text-center.documents-anchor
				a(href="/") Ver más
block js
	script(src="/components/owl-carousel/dist/owl.carousel.min.js")
	script.
		$('.owl-carousel').owlCarousel({
			items: 1,
			loop: true,
			responsiveClass: true,
			margin: 0,
			responsive: {
				768: {
					items: 2,
					margin: 10
				}
			}
		});