extends ../layouts/default


mixin post(post)
	div.card.col-md-4
		if post.image.exists
			img(src=post._.image.scale(400,300)).img-responsive
		.card-block
			//- .post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
			h4.card-title: a(href='/blog/post/' + post.slug).postTitle= post.title
			//- div.postBrief.truncate120
			p!= post.content.brief

block lang
		ul#lang
			li: a(href='/en')
				small EN
			li: a(href='/es')
				small ES
			//- li: a(href='/it')
				small IT
block content

	div.jumbotron.text-center

		h1: strong Ciudatos
		h2 Te acerca a tu ciudad


	.container
		.row.home-section
			.hero
				.col-sm-6
					br
					br
					h3 Ciudatos es una plataforma de datos abiertos enfocada en construir conocimiento sobre temas de ciudad, en donde podrás visualizar y descargar información sobre la calidad de vida en entornos urbanos colombianos, el Indice de Progreso Social y los Objetivos de Desarrollo Sostenible.
					h3 Ciudatos te acerca a tu ciudad.
				.col-sm-3
					div.heroImgs
						a(href="/visualizacion")
							div.thumbnail.imgHero
								img(src="img/visualiza.png",width = "100%",height="200px")
								div.caption
									h3.text-center Visualiza
				.col-sm-3
						a(href="/datos")
							div.thumbnail.imgHero
								img(src="img/bases-de-datos.png",width = "100%", height = "200px")
								div.caption
									h3.text-center Bases de datos



		.row.home-section

			.col-md-6
				h3 Visualización
				p Aplicación de datos abiertos para visualizar los datasets históricos de las ciudades Cómo Vamos a través de gráficos interactivos con la posibilidad de hacer cruces entre variables, comparaciones entre ciudades y series históricas. ¡Juega con los datos!
			.col-md-6
				h3 Datos Abiertos
				p Plataforma que almacena los datasets completos históricos de las ciudades Cómo Vamos y otros que hacen parte de la Plataforma de Datos Abiertos para su descarga en línea.
		.row
			.col-md-12.text-center
				a(href="http://www.urbandashboard.org/iadb/index.html", target = "blank_")
					img.img-center(src="img/logo-urban-dashboard.png")

		//- .row
			div.col-md-6.text-center
				h3 Datos
				p.lead Conozca los datos abiertos de ciudatos
				a.btn.btn-cd-purple.btn-lg(href="/datos") Ver Datos Abiertos
			div.col-md-6.text-center
				h3 Visualización
				p.lead Visualice los datos
				a.btn.btn-cd-purple.btn-lg(href="/visualizacion") Ver Visualizaciones
		.row.home-section

			//- div.col-md-6
				#myCarousel.carousel.slide(data-ride='carousel')
					// Indicators
					ol.carousel-indicators
						li.active(data-target='#myCarousel', data-slide-to='0')
						li(data-target='#myCarousel', data-slide-to='1')
						li(data-target='#myCarousel', data-slide-to='2')
						li(data-target='#myCarousel', data-slide-to='3')
						li(data-target='#myCarousel', data-slide-to='4')
						li(data-target='#myCarousel', data-slide-to='5')
						li(data-target='#myCarousel', data-slide-to='6')
					// Wrapper for slides
					.carousel-inner(role='listbox')
						.item.active
							img(src='img/slide-1.jpg', alt='Compreometido')
						.item
							img(src='img/slide-2.jpg', alt='Unconventional')
						.item
							img(src='img/slide-3.jpg', alt='Moderno')
						.item
							img(src='img/slide-4.jpg', alt='Foolish')
						.item
							img(src='img/slide-5.jpg', alt='Unconventional')
						.item
							img(src='img/slide-6.jpg', alt='Moderno')
						.item
							img(src='img/slide-7.jpg', alt='Foolish')
					// Left and right controls
					a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
						span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
						span.sr-only Previous
					a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
						span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
						span.sr-only Next

		//- .row.home-section
			h3 Últimos Contenidos
			each post in data.posts
				+post(post)
		//- .row
			a(href="/blog") Ver todos los contenidos

	.row.logos.home-section
		.row
			img.img-responsive.img-center(src="/img/logo-fundacion-corona.png", width = "350px")
		.row
			.col-sm-2.col-sm-offset-1
				h3 En alianza con:
			.col-sm-2
				br
				img.img-responsive(src="/img/logo-randommonkey.png")
			.col-sm-2
				br
				img.img-responsive(src="/img/logo-codeando.png")
			.col-sm-2
				img.img-responsive(src="/img/logo-app-civico.png")
			.col-sm-2
				img.img-responsive(src="/img/logo-eokoe.png")



		//- .row.home-section.text-center
			h1 Servicios

			p(style="margin: 50px 10% 50px").lead Los datos y estadísticas de los torneos, partidos, equipos y jugadores tienen un gran potencial oculto. Nosotros lo descubrimos aplicando un conjunto de servicios analíticos y los ponemos a disposición de los clubes y federaciones

			div.cards.text-left
				div.card.col-md-4
					.card-block
						h4.card-title.text-center  Modelamiento y análisis
						p Implementacón de algoritmos para desarrollo de nuevos indicadores y métricas de benchmark que permiten ver el fútbol con otra perspectiva que complemente la experiencia y la intuición para la toma de decisiones.
						ul
							li Goles esperados (ExpG)
							li Matrices de comparación
							li Análisis posicionales
							li Tendencias de estilos de juego
				div.card.col-md-4
					.card-block
						h4.card-title.text-center  DataScouting
						p A partir de las necesidades puntuales de los clubes y analizando las estadísticas consolidadas de torneos y equipos, identificamos potenciales fichajes y jugadores jóvenes con talento; haciendo mucho más rápido y eficiente el proceso de scouting.
						ul
							li Identificación de talento
							li Reclutamiento de jugadores
							li Análisis de desempeño
							li Evaluación táctiva de equipos
				div.card.col-md-4
					.card-block
						h4.card-title.text-center  Reportes y análisis
						p Generamos información e innovadoras visualizaciones de datos para narrar la historia de los partidos y hacer una excelente cobertura de las fechas y juegos de la competición con perfiles jugadores, árbitros y equipos.
						ul
							li Reportes interactivos
							li Visualización e infografías
							li Desarrollo de índices




		//- .row.home-section
			div.col-md-6
				h4 ¿Necesitas ayuda con tu ciudadanía italiana?
				iframe#contactForm(height="400",allowTransparency="true",frameborder="0",scrolling="no",style="width:100%;border:none",src="https://randommonkey.wufoo.com/embed/m1l56zhl1jijkfs/")
			div.col-md-6
				h4 Lo que dicen nuestros clientes
				div#quotes
					div.quote
						strong Con el servicio personalizado y amigable de Ciudatos conseguí mi ciudadanía italiana de manera ágil.
						p.quote-author Natalia Daza - Empresaria sector salud
					div.quote
						strong Siendo abogado valoré especialmente el respaldo legal especializado en derecho italiano en América Latina.
						p.quote-author Jorge Gaitán - Abogado 
					div.quote
						strong A pesar de que mi línea de ascendencia italiana llegaba hasta mi bisabuela y por la antigüedad de los documentos fue un reto su consecución, la firma nos apoyó con éxito en el proceso y logramos una sentencia favorable.
						p.quote-author José Andrés Romero - Partner en Brigard Urrutia
					div.quote
						strong Después de 5 años de buscar la ciudadanía italiana, Ciudatos encontró la vía judicial para cumplir nuestro sueño.
						p.quote-author Marta Sánchez Escobar - Gerente Administrativa de Montealegre Asociados
					div.quote
						strong El profesionalismo, experiencia y recursos de investigación de la firma pertmitieron resolver nuestro caso intrincado.
						p.quote-author Rodrigo Meza Echevarría - Arquitecto y cónsul colombiano en Italia.
