extends ../layouts/default

block content
	.custom-container
		.intro-section
			.intro-about
				div
					h1.about-title ciudatos
					.about-description 
						span Plataforma de datos abiertos sobre ciudades y temas de Colombia para el fortalecimiento de la democracia y participación ciudadana
			.intro-visualize(style="background-image: url(/img/banner-corona.png)")
				.visualize-explore
					span Explora los datos con la herramienta de visualización
					a(href="#") Visualizar