extends ../layouts/default

block css
    link(rel="stylesheet", href="vendors/owl.carousel.min.css")
    link(rel="stylesheet", href="vendors/owl.theme.default.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css")

block content
    .half-height.home-first-banner.lato
        <br><br>
        <br><br>
        <br><br>
        .container-fluid
            .row
                .col-md-12(style="text-align:center; margin-bottom:10px")
                    a.hind.section-title(href="#")= "Este sitio se encuentra temporalmente en mantenimiento"







block js
    script(src="/vendors/owl.carousel.min.js")
    script(src="/js/home.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
    script.
        $(document).ready(function () {
            $("select").select2();


            $(".titledrop").on('click', function () {
                $(".imgback").slideToggle("slow", function () {
                    // Animation complete.
                });
            });

        });
        function anclaatajos() {
            var value = $("#atajos").val();
            ;
            if (value != '') {
                window.location.href = "ODS#" + value;
            }
        }