extends ../layouts/default

block vars
	- inner_padding = "padding: 0 15px"

block content
	<img style="width:100%" src="https://res.cloudinary.com/disegnatec/image/upload/v1536344398/ciudatos/general/Mockup-Ciudatos_2-001.jpg"/>
	<img style="width:100%" src="https://res.cloudinary.com/disegnatec/image/upload/v1536344464/ciudatos/general/Mockup-Ciudatos_2-002.jpg"/>


block js
	script(src="/js/margin.js")
