extends ../layouts/default

block vars
    - inner_padding = "padding: 0 15px"

block content
    <img style="width:100%" src="https://res.cloudinary.com/randommonkey/image/upload/v1531505257/ciudatos/cities/zcolwitwfetgjset3bfu.png"/>
    <div class="container">

    <br>
        <div class="row">
            <div class="col-md-3 col-md-offset-5">
                <ul class="nav nav-pills">
                <li role="presentation"  class="active"><a href="#ODS" data-toggle="tab">ODS</a></li>
                <li role="presentation"><a href="#CIUDADES" data-toggle="tab">CIUDADES</a></li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="tab-content clearfix">
                    <div id="ODS" class="tab-pane fade in active" >
                        <div class="row"><div class="col-md-12">Seleccione un ODS, una meta y un indicador para ver su información</div></div>
                        <div class="row" style="z-index:999">
                            <div class="col-md-12"  style="z-index:999">
                                <div class="row" id="odsselectordashboard2" style="z-index:999">
                                    <div class="col-md-4">
                                        <label>SELECCIONE UN ODS:</label>
                                        <select id="changeOdsConcat" class="form-control" onchange="odsConcatFilter();">
                                          <opion value="">SELECCIONE UN ODS:</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>SELECCIONE UNA META:</label>
                                         <select id="changeMeta" class="form-control" onchange="metaFIlter();">
                                            <opion value="">SELECCIONE UNA META:</option>
                                         </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>SELECCIONE UN INDICADOR:</label>
                                         <select id="changeIndicador" class="form-control" onchange="inicadorFIlter();">
                                            <opion value="">SELECCIONE UN INDICADOR:</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="" style="z-index:999">
                            <div class="col-md-3">
                                 <img src="http://www.co.undp.org/content/dam/colombia/img/Pobreza/ODS%20Colombia/xundp_co_pobreza_ODSCol2.png.pagespeed.ic.mrqdFDgHxQ.webp"/>
                            </div>
                            <div class="col-md-9">
                                <h2>¿Que son los objetivos de desarrollo sostenible?</h2>
                                <p style="font-size:12px; text-align:justify">Los ODS nos invitan a priorizar acciones con una visión de futuro ambiciosa y transformativa. Contemplamos un mundo sin pobreza, hambre, enfermedades ni privaciones, donde todas las formas de vida puedan prosperar; un mundo sin temor ni violencia; un mundo en el que la alfabetización sea universal, con acceso equitativo y universal a una educación de calidad en todos los niveles, a la atención sanitaria y la protección social, y donde esté garantizado el bienestar físico, mental y social; un mundo en el que reafirmemos nuestros compromisos al acceso al agua potable y al saneamiento, donde los alimentos sean suficientes, asequibles y nutritivos; un mundo cuyos hábitats humanos sean seguros, resilientes y sostenibles, y donde haya acceso universal a suministros de energía asequible, fiable y sostenible.
                                </p>
                            </div>
                        </div>
                        <div class="row" id="odsdashboardselectorcontainer" style="display:none" style="z-index:999">
                            <div class="col-md-12" style="z-index:999">
                                 <div id='odsdashboardselector'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                 <div id='odsdashboardinfo'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>


                        <div class="row" id="odsatajos" style="">
                            <div class="col-md-12">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <div class="navbar-header">

                                             <a class="navbar-brand" href="#">Enlaces rápidos</a>
                                        </div>
                                        <div id="navbar" class="navbar-collapse collapse">
                                            <ul class="nav navbar-nav">
                                                <li class="active"><a href="#dashboardodsgrupociudades">Indicador de ods por grupo de ciudades</a></li>
                                                <li><a href="#dashboardodstrazador">Indicador trazador de ods por grupo de ciudade</a></li>
                                                <li><a href="#mapadecalorporods">Mapa de calor</a></li>
                                            </ul>

                                        </div><!--/.nav-collapse -->
                                    </div><!--/.container-fluid -->
                                </nav>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                 <div id='dashboardodsgrupociudades'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                 <div id='dashboardodstrazador'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id='mapadecalorporods'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="CIUDADES">


                        <div class="row" style="z-index:999">
                            <div class="col-md-12"  style="z-index:999">
                                <div class="row" id="cityselectordashboard2" style="z-index:999">
                                    <div class="col-md-12 text-center">
                                        <h5 class="text-center">Selecione una ciudad para ver su información</h3>
                                    </div>
                                    <div class="col-md-2 col-md-offset-3"><label>Ciudad:</label></div>
                                    <div  class="col-md-3 ">

                                       <select id="changeCity" class="form-control"  onchange="cityFilter();">

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="" >
                            <div class="col-md-3">
                                <img src="http://www.co.undp.org/content/dam/colombia/img/Pobreza/ODS%20Colombia/xundp_co_pobreza_ODSCol2.png.pagespeed.ic.mrqdFDgHxQ.webp"/>
                                </div>
                                <div class="col-md-9">
                                <h2>¿Que son los objetivos de desarrollo sostenible?</h2>
                                    <p style="font-size:12px; text-align:justify">Los ODS nos invitan a priorizar acciones con una visión de futuro ambiciosa y transformativa. Contemplamos un mundo sin pobreza, hambre, enfermedades ni privaciones, donde todas las formas de vida puedan prosperar; un mundo sin temor ni violencia; un mundo en el que la alfabetización sea universal, con acceso equitativo y universal a una educación de calidad en todos los niveles, a la atención sanitaria y la protección social, y donde esté garantizado el bienestar físico, mental y social; un mundo en el que reafirmemos nuestros compromisos al acceso al agua potable y al saneamiento, donde los alimentos sean suficientes, asequibles y nutritivos; un mundo cuyos hábitats humanos sean seguros, resilientes y sostenibles, y donde haya acceso universal a suministros de energía asequible, fiable y sostenible.
                                </p>
                            </div>
                        </div>
                        <div class="row" style="display:none">
                            <div class="col-md-12">Seleccione una ciudad para ver su información</div>
                        </div>
                        <div class="row" style="z-index:999" style="display:none">
                            <div class="col-md-12" style="z-index:999">
                                    <div id='cityselectordashboard'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                 <img  id="imagen_city"  src="https://www.elheraldo.co/sites/default/files/styles/width_860/public/articulo/2016/04/18/panoramicas_de_barranquilla_5.jpg?itok=v1Md9Ykg"/>
                            </div>
                            <div class="col-md-6">
                                    <div id='citydeprmentmap'  style='position: relative; width: auto; height:350px'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id='citidashboardinfo'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row" id="cityatajos" style="">
                            <div class="col-md-12">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                    <div class="navbar-header">

                                    <a class="navbar-brand" href="#">Enlaces rápidos</a>
                                    </div>
                                    <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                    <li class="active"><a href="#cityindicadoresciudad">Indicadores de ODS por ciudad</a></li>
                                    <li><a href="#cityprogresohistorico">Histórico del indicador</a></li>
                                    <li><a href="#cityindicadorestrazadores">Trazadores por ODS</a></li>
                                    <li><a href="#citymapadecalorporciudad">Mapa de calor</a></li>
                                    </ul>

                                    </div><!--/.nav-collapse -->
                                    </div><!--/.container-fluid -->
                                </nav>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id='cityprogreovsabsoluto' style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id='cityindicadoresciudad'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id='cityprogresohistorico'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                 <div id='cityindicadorestrazadores' style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                 <div id='citymapadecalorporciudad' style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

block js
    script(src="https://public.tableau.com/javascripts/api/tableau-2.min.js")
    script(src="/js/margin.js")
    script(src="/js/jquery.sticky.js")
    script.
        //ods
        var vizodsdashboardselector;
        var vizdashboardodsgrupociudades;
        var vizodsdashboardinfo;
        var vizdashboardodstrazador;
        var vizmapadecalorporods;
        //city
        var vizcityselectordashboard;
        var vizcitidashboardinfo;
        var vizcitydeprmentmap;
        var vizcityprogreovsabsoluto;
        var vizcityindicadoresciudad;
        var vizcityprogresohistorico;
        var vizcityindicadorestrazadores;
        var vizcitymapadecalorporciudad;
        var activetab ="ODS";
        $(document).ready(function () {
            //ods
            //initodsdashboardselector();
            initodsdashboardinfo();
            $.ajax({
                url: 'http://ciudatos.com:8080/api/cities/getCities/',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    var html = '<option value="">SELECCIONE UNA CIUDAD</option>';
                    jQuery.each(data, function (i, value) {
                        html += '<option data-img='+value.avatar.url+' data-group='+value.group_city_id+' value=' + value.name + '>' + value.name + '</option>';

                    })
                    $("#changeCity").html(html);


                }
            })
            $.ajax({
                url: 'http://ciudatos.com:8080/api/goals/getGoals/',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    var html = '<option value="">SELECCIONE UN ODS</option>';
                    jQuery.each(data, function (i, value) {
                        html += '<option value=' + value.id+'>' + value.number + ' ' + value.name + '</option>';

                    })
                    $("#changeOdsConcat").html(html);


                }
            })

            $("#odsselectordashboard2").sticky({topSpacing: 40});
            $('.nav-pills a').on('shown.bs.tab', function (event) {
                console.log('cambie de pestaña');
                 activetab = $(event.target).text();         // active tab
                var y = $(event.relatedTarget).text();  // previous tab
                if (activetab == 'CIUDADES') {
                    $("#cityselectordashboard2").sticky({topSpacing: 40});
                    $("#odsselectordashboard2").unstick();

                }else{
                    $("#cityselectordashboard2").unstick();
                    $("#odsselectordashboard2").sticky({topSpacing: 40});
                }
            });

            //$('iframe').iFrameResize({checkOrigin: false})

        })

        //ods
        function initodsdashboardselector() {
            var containerDiv = document.getElementById("odsdashboardselector"),
                url = "https://public.tableau.com/views/Ciudatos/ODSDASHBOARD-selector?:embed=y&:display_count=no&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                       // $("#odsdashboardselector").sticky({topSpacing: 40});
                        $(".tab-toolbar").css('display', 'none');
                        initodsdashboardinfo();

                    }
                };
            vizodsdashboardselector = new tableau.Viz(containerDiv, url, options);
        }

        function initodsdashboardinfo() {
            var containerDiv = document.getElementById("odsdashboardinfo"),
                url = "https://public.tableau.com/views/Ciudatos/ODSDASHBOARD-info?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        initdashboardodsgrupociudades();


                        var head = $("#odsdashboardinfo iframe").contents().find("head");
                        var css = '<style type="text/css">' +
                            '.tab-toolbar{display:none!important}; ' +
                            '</style>';
                        $(head).append(css);
                        /*vizodsdashboardselector.addEventListener('filterchange', function (event) {

                            var fieldname = event.getFieldName();
                            console.log(fieldname);
                            if (fieldname == 'ods concat') {
                                event.getFilterAsync().then(function (field) {

                                    var filtervalue = field.getAppliedValues();
                                    console.log(filtervalue);
                                    console.log(filtervalue[0].value);

                                    odsConcatFilter(filtervalue[0].value);


                                });
                            }

                            if (fieldname == 'Name (Targets)') {
                                event.getFilterAsync().then(function (field) {

                                    var filtervalue = field.getAppliedValues();
                                    console.log(filtervalue);
                                    console.log(filtervalue[0].value);
                                    metaFIlter(filtervalue[0].value);



                                });
                            }
                            if (fieldname == 'Indicador') {
                                event.getFilterAsync().then(function (field) {

                                    var filtervalue = field.getAppliedValues();
                                    console.log(filtervalue);
                                    console.log(filtervalue[0].value);

                                    inicadorFIlter(filtervalue[0].value);


                                });
                            }


                        });*/


                    }
                };
            vizodsdashboardinfo = new tableau.Viz(containerDiv, url, options);
        }


        function initmapadecalorporods() {
            var containerDiv = document.getElementById("mapadecalorporods"),
                url = "https://public.tableau.com/views/Ciudatos/Mapadecalorporods?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    //"Indicador": "",
                    hideTabs: true,
                    onFirstInteractive: function(){
                    //city
                        console.log('iniciando ciudae');



                        initvizcitydeprmentmap();
                          //initvizcityselectordashboard();
                    }
                };
            vizmapadecalorporods = new tableau.Viz(containerDiv, url, options);
        }

        function initdashboardodsgrupociudades() {
            var containerDiv = document.getElementById("dashboardodsgrupociudades"),
                url = "https://public.tableau.com/views/Ciudatos/ODSDASHBOARD-grupociudades?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function(){
                        initdashboardodstrazador();

                    }
                };
            vizdashboardodsgrupociudades = new tableau.Viz(containerDiv, url, options);
        }
        function initdashboardodstrazador() {
            var containerDiv = document.getElementById("dashboardodstrazador"),
                url = "https://public.tableau.com/views/Ciudatos/ODSDASHBOARD-trazadorporgrupo?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        initmapadecalorporods();
                    }
                };
            vizdashboardodstrazador = new tableau.Viz(containerDiv, url, options);
        }

        //city

        function initvizcityselectordashboard() {
            var containerDiv = document.getElementById("cityselectordashboard"),
                url = "https://public.tableau.com/views/Ciudatos/CityDashboard-selector?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {

                        //$("#cityselectordashboard").sticky({topSpacing: 40});
                        $("#cityatajos").css('display', 'block');

                        console.log('ya inici ciudades');
                        initvizcitydeprmentmap();




                    }
                };
            vizcityselectordashboard = new tableau.Viz(containerDiv, url, options);
        }


        function initvizcitidashboardinfo() {
            var containerDiv = document.getElementById("citidashboardinfo"),
                url = "https://public.tableau.com/views/Ciudatos/CityDashboardinfo?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive:function(){
                        console.log('inicio lo demas de ciuades');
                        initvizcityprogreovsabsoluto();


                       /* vizcityselectordashboard.addEventListener('filterchange', function (event) {

                            var fieldname = event.getFieldName();
                            console.log(fieldname);
                            if (fieldname == 'Ciudad') {
                                event.getFilterAsync().then(function (field) {

                                    var filtervalue = field.getAppliedValues();
                                    console.log(filtervalue);
                                    console.log(filtervalue[0].value);
                                    cityFilter(filtervalue[0].value);


                                });
                            }


                        });*/

                    }
                };
            vizcitidashboardinfo = new tableau.Viz(containerDiv, url, options);
        }
        function initvizcitydeprmentmap() {
            var containerDiv = document.getElementById("citydeprmentmap"),
                url = "https://public.tableau.com/views/Ciudatos/Departmentmap?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive:function(){
                      //  console.log('inicio lo demas de ciuades');
                        initvizcitidashboardinfo();

                    }
                };
            vizcitydeprmentmap = new tableau.Viz(containerDiv, url, options);
        }

        function initvizcityprogreovsabsoluto() {
            var containerDiv = document.getElementById("cityprogreovsabsoluto"),
                url = "https://public.tableau.com/views/Ciudatos/CityDashboardprogresovsindicador?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        initvizcityindicadoresciudad();




                    }

                };
            vizcityprogreovsabsoluto = new tableau.Viz(containerDiv, url, options);


        }

        function initvizcityindicadoresciudad() {
            var containerDiv = document.getElementById("cityindicadoresciudad"),
                url = "https://public.tableau.com/views/Ciudatos/CityDashboardindicadoresporciudad?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        initvizcityprogresohistorico();

                        vizcityprogreovsabsoluto.addEventListener('filterchange', function (event) {

                            var fieldname = event.getFieldName();
                            console.log(fieldname);
                            if (fieldname == 'Año') {
                                event.getFilterAsync().then(function (field) {

                                    var filtervalue = field.getAppliedValues();
                                    console.log(filtervalue);
                                    console.log(filtervalue[0].value);

                                    anoFilter(filtervalue[0].value);
                                });
                            }


                            if (fieldname == 'Name (Targets)') {
                                event.getFilterAsync().then(function (field) {

                                    var filtervalue = field.getAppliedValues();
                                    console.log(filtervalue);
                                    console.log(filtervalue[0].value);
                                    metaFIlter(filtervalue[0].value);


                                });
                            }



                        });



                    }
                };
            vizcityindicadoresciudad = new tableau.Viz(containerDiv, url, options);
        }

        function initvizcityprogresohistorico() {
            var containerDiv = document.getElementById("cityprogresohistorico"),
                url = "https://public.tableau.com/views/Ciudatos/CityDashboard-progresohistorico?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        initvizcityindicadorestrazadores();

                    }
                };
            vizcityprogresohistorico = new tableau.Viz(containerDiv, url, options);
        }

        function initvizcityindicadorestrazadores() {


            var containerDiv = document.getElementById("cityindicadorestrazadores"),
                url = "https://public.tableau.com/views/Ciudatos/IndicadorestrazadoresporODS?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        initvizcitymapadecalorporciudad();



                    }
                };
                vizcityindicadorestrazadores = new tableau.Viz(containerDiv, url, options);

         }

        function initvizcitymapadecalorporciudad() {

            var containerDiv = document.getElementById("citymapadecalorporciudad"),
                url = "https://public.tableau.com/views/Ciudatos/Mapadecalorbycity?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {

                        console.log('cargo mapa de calor ciudad');



                    }
                };

            vizcitymapadecalorporciudad = new tableau.Viz(containerDiv, url, options);


        }


        //filters

        //ods
        function odsConcatFilter() {


           var  ods = $("#changeOdsConcat option:selected").text();
            console.log(ods);
            $.ajax({
                url: 'http://ciudatos.com:8080/api/targets/getTargets/',
                dataType: 'json',
                type: 'GET',
                data:{goal_id: $("#changeOdsConcat").val()},
                success: function (data) {
                    var html = '<option value="">SELECCIONE UNA META</option>';
                    jQuery.each(data, function (i, value) {
                        html += '<option value=' + value.id+'>' + value.name + '</option>';

                    })
                    $("#changeMeta").html(html);

                }
            })



            var fieldname = "ods concat";


            if (activetab == 'ODS') {
                if(vizdashboardodsgrupociudades!=null) {
                    jQuery.each(vizdashboardodsgrupociudades.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                        console.log(sheet);
                        console.log(ods);
                        if (ods === "") {
                            //sheet.clearFilterAsync("ods concat");

                        } else {
                            sheet.applyFilterAsync(fieldname, ods, tableau.FilterUpdateType.REPLACE);
                        }
                    })
                }

                if(vizodsdashboardinfo != null) {
                    jQuery.each(vizodsdashboardinfo.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {

                        if (ods != "") {

                            sheet.applyFilterAsync(fieldname, ods, tableau.FilterUpdateType.REPLACE);
                        }
                    })
                }


            }


        }



        //city
        function cityFilter() {
            var ciudad = $("#changeCity option:selected").text();
            var grupo = $("#changeCity option:selected").attr('data-group');
            var imagen = $("#changeCity option:selected").attr('data-img');
            $("#imagen_city").attr('src', imagen);

            console.log(ciudad);
            console.log(grupo);

            var fieldname = "Ciudad";
            //var sheet = vizIndicadores.getWorkbook().getActiveSheet();

            if (activetab == 'CIUDADES') {



                if (vizcityprogreovsabsoluto != null) {

                    var sheet = vizcityprogreovsabsoluto.getWorkbook().getActiveSheet().getWorksheets().get("Index Score Por indicador");

                        if (ciudad != "") {

                            sheet.applyFilterAsync(fieldname, ciudad, tableau.FilterUpdateType.REPLACE);
                        }

                    var sheet = vizcityprogreovsabsoluto.getWorkbook().getActiveSheet().getWorksheets().get("Indicador de progreso absoluto ciudad");

                    if (ciudad != "") {

                        sheet.applyFilterAsync("Id (Group Cities)", grupo, tableau.FilterUpdateType.REPLACE);
                    }

                }


                if (vizcitidashboardinfo != null) {
                    jQuery.each(vizcitidashboardinfo.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {

                        if (ciudad != "") {

                            sheet.applyFilterAsync(fieldname, ciudad, tableau.FilterUpdateType.REPLACE);
                        }
                    })
                }

                if(vizcitymapadecalorporciudad!=null) {
                    var sheet = vizcitymapadecalorporciudad.getWorkbook().getActiveSheet();
                    if (ciudad != "") {

                        sheet.applyFilterAsync(fieldname, ciudad, tableau.FilterUpdateType.REPLACE);
                    }
                }
                if (vizcitydeprmentmap != null) {
                    var sheet = vizcitydeprmentmap.getWorkbook().getActiveSheet();
                    if (ciudad != "") {

                        sheet.applyFilterAsync(fieldname, ciudad, tableau.FilterUpdateType.REPLACE);
                    }
                }
            }


        }

        function anoFilter(ano){
            var fieldname="Año";
            if (activetab == 'CIUDADES') {
                jQuery.each(vizcityindicadoresciudad.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {

                    if (ano != "") {

                        sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                    }
                })

                if (vizcityindicadorestrazadores != null) {
                    var sheet = vizcityindicadorestrazadores.getWorkbook().getActiveSheet();
                    if (ano != "") {

                        sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                    }
                }
            }

            if (activetab == 'ODS') {
                if (vizmapadecalorporods != null) {
                    var sheet = vizmapadecalorporods.getWorkbook().getActiveSheet()

                        if (ano != "") {

                            sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                        }

                }
            }


        }

        function inicadorFIlter(){


            var indicador = $("#changeIndicador option:selected").text();

            console.log(indicador);
            var fieldname = "Indicador";
            if (activetab == 'ODS') {
                if(vizodsdashboardinfo!=null) {
                    var sheet = vizodsdashboardinfo.getWorkbook().getActiveSheet().getWorksheets().get("indicadr");
                    if (indicador != "") {

                        sheet.applyFilterAsync(fieldname, indicador, tableau.FilterUpdateType.REPLACE);
                    }
                }


                if (vizdashboardodsgrupociudades != null) {
                    jQuery.each(vizdashboardodsgrupociudades.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                        if (indicador != "") {

                            sheet.applyFilterAsync("Indicador (copia 2)", indicador, tableau.FilterUpdateType.REPLACE);
                        }
                    })
                }


                if (vizdashboardodstrazador != null) {
                    jQuery.each(vizdashboardodstrazador.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                        if (indicador != "") {

                            sheet.applyFilterAsync(fieldname, indicador, tableau.FilterUpdateType.REPLACE);
                        }
                    })
                }



                if (vizmapadecalorporods != null) {
                    var vizmapadecalorporods = vizmapadecalorporods.getWorkbook().getActiveSheet();

                        if (indicador != "") {

                            sheet.applyFilterAsync(fieldname, indicador, tableau.FilterUpdateType.REPLACE);
                        }

                }



            }

        }

        function metaFIlter(){

            var value = $("#changeMeta option:selected").text();

            $.ajax({
                url: 'http://ciudatos.com:8080/api/indicators/getIndicators/',
                dataType: 'json',
                type: 'GET',
                data: {target_id: $("#changeMeta").val()},
                success: function (data) {
                    var html = '<option value="">SELECCIONE UN INDICADOR</option>';
                    jQuery.each(data, function (i, value) {
                        html += '<option value=' + value.id + '>' + value.name + '</option>';

                    })
                    $("#changeIndicador").html(html);


                }
            })



            var fieldname = "Name (Targets)";
            if (activetab == 'ODS') {

                var sheet = vizodsdashboardinfo.getWorkbook().getActiveSheet().getWorksheets().get("metas");
                if (value != "") {

                    sheet.applyFilterAsync(fieldname, value, tableau.FilterUpdateType.REPLACE);
                }


                if (vizdashboardodsgrupociudades != null) {
                    jQuery.each(vizdashboardodsgrupociudades.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {

                        if (value != "") {

                            sheet.applyFilterAsync(fieldname, value, tableau.FilterUpdateType.REPLACE);
                        }
                    })
                }

                if (vizdashboardodstrazador != null) {
                    jQuery.each(vizdashboardodstrazador.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {

                        if (value != "") {

                            sheet.applyFilterAsync(fieldname, value, tableau.FilterUpdateType.REPLACE);
                        }
                    })
                }
            }


            //los de ciudad

            if(activetab=='CIUDADES') {
                jQuery.each(vizcityindicadoresciudad.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {

                    if (value != "") {

                        sheet.applyFilterAsync(fieldname, value, tableau.FilterUpdateType.REPLACE);
                    }
                })

                if (vizcityprogresohistorico != null) {
                    jQuery.each(vizdashboardodsgrupociudades.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {

                        if (value != "") {

                            sheet.applyFilterAsync(fieldname, valuee, tableau.FilterUpdateType.REPLACE);
                        }
                    })
                }
            }




        }