extends ../layouts/default

block vars
    - inner_padding = "padding: 0 15px"

block content
    <img style="width:100%" src="https://res.cloudinary.com/randommonkey/image/upload/v1531505257/ciudatos/cities/zcolwitwfetgjset3bfu.png"/>

    <div class="row" id="navcontainer">
        <div class="col-md-6 col-md-offset-3">
            <ul class="nav nav-pills">
            <li role="presentation"  ><a href="#ODS"  class="odstab tabmapacalor" id="" data-toggle="tab">Mapa de calor ODS</a></li>
            <li role="presentation"  class="active "><a href="#ODS"  class="odstab" data-toggle="tab">ODS</a></li>
            <li role="presentation"><a href="#CIUDADES" class="ciudadtab" data-toggle="tab">CIUDADES</a></li>
            <li role="presentation"><a href="#CIUDADES" class="ciudadtab tabmapacalor" data-toggle="tab">Mapa de calor Ciudades</a></li>
            </ul>
        </div>
    </div>


    <div class="container">

        <div class="row">


            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                     <iframe width="560" height="315" src="https://www.youtube.com/embed/gQBJfYlDOvA" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row" id="" >
                <div class="col-md-5  col-md-offset-4 text-center">
                 <h4>¿Que son los objetivos de desarrollo sostenible?</h4>
                </div>

            </div>
            <div class="row" id="" >
                <div class="col-md-4">
                     <img src="http://www.co.undp.org/content/dam/colombia/img/Pobreza/ODS%20Colombia/xundp_co_pobreza_ODSCol2.png.pagespeed.ic.mrqdFDgHxQ.webp"/>
                </div>
                <div class="col-md-4">
                    <p style="font-size:12px; text-align:justify"> Los Objetivos de Desarrollo Sostenible (ODS),
                        | también conocidos como Objetivos Mundiales,
                        | son un llamado universal a la adopción de
                        | medidas para poner fin a la pobreza, proteger
                        | el planeta y garantizar que todas las personas
                        | gocen de paz y prosperidad.
                        | Estos 17 Objetivos se basan en los logros de
                        | los Objetivos de Desarrollo del Milenio,
                        | aunque incluyen nuevas esferas como el
                        | cambio climático, la desigualdad económica, la
                        | innovación, el consumo sostenible y la paz y la
                        | justicia, entre otras prioridades. Los Objetivos
                        | están interrelacionados, con frecuencia la
                        | clave del éxito de uno involucrará las cuestiones
                        | más frecuentemente vinculadas con otro.
                    </p>
                </div>

                <div class="col-md-4">
                    <p style="font-size:12px; text-align:justify"> Los ODS conllevan un espíritu de colaboración
                    | y pragmatismo para elegir las mejores opciones
                    | con el fin de mejorar la vida, de manera
                    | sostenible, para las generaciones futuras. Proporcionan
                    | orientaciones y metas claras para su
                    | adopción por todos los países en conformidad
                    | con sus propias prioridades y los desafíos ambientales
                    | del mundo en general.
                    | Los ODS son una agenda inclusiva. Abordan
                    | las causas fundamentales de la pobreza y nos
                    | unen para lograr un cambio positivo en beneficio
                    | de las personas y el planeta.
                    </p>
                </div>
            </div>

        <div class="col-md-12">
                <div class="tab-content clearfix">
                    <div id="ODS" class="tab-pane fade in active" >
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center">
                                <p class="titleselector">Seleccione un ODS, una meta y un indicador para ver su información</p>
                            </div>
                        </div>
                        <div class="row" style="z-index:999">
                            <div class="col-md-12"  style="z-index:999">
                                <div class="row border-botom" id="odsselectordashboard2" style="z-index:999">
                                    <div class="col-md-4">
                                        <div class="select_box">
                                            <select id="changeOdsConcat" class="form-control" onchange="odsConcatFilter();">
                                            <option value="">Seleccione aquí:</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="select_box">
                                        <select id="changeMeta" class="form-control" onchange="metaFIlter();">
                                        <option value="">Seleccione aquí:</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="select_box">
                                        <select id="changeIndicador" class="form-control" onchange="inicadorFIlter();">
                                        <option value="">Seleccione aquí:</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row" id="odsdashboardselectorcontainer" style="display:none" style="z-index:999">
                            <div class="col-md-12" style="z-index:999">
                                 <div id='odsdashboardselector'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div id='odsdashboardinfo'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>


                        <div class="row" id="odsatajos" style="display:none">
                            <div class="col-md-12">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <div class="navbar-header">
                                            <a class="navbar-brand" href="#">Enlaces rápidos</a>
                                        </div>
                                        <div id="navbar" class="navbar-collapse collapse">
                                            <ul class="nav navbar-nav">
                                                <li class="active"><a href="#dashboardodsgrupociudades">Indicador de ods por grupo de ciudades</a></li>
                                                <li><a href="#dashboardodstrazador">Indicador trazador de ods por grupo de ciudade</a></li>
                                                <li><a href="#mapadecalorporods">Mapa de calor</a></li>
                                            </ul>
                                        </div><!--/.nav-collapse -->
                                    </div><!--/.container-fluid -->
                                </nav>
                            </div>
                        </div>

                        <div class="row" id=''>
                            <div class="col-md-12" >
                                                    <br>
                                  <hr>
                            </div>
                        </div>
                        <div class="row" id='dashboardodsgrupociudades'>
                            <div class="col-md-6 col-md-offset-3 text-center" >
                                <p class="text-center titleselector">Seleccione uno o varios grupos de ciudades para ver su información</p>
                            </div>
                        </div>
                        <div class="row" id=''>
                            <div class="col-md-3">
                            <div class="select_box">
                            <select id="changeGrupoodsgrupociudades1" class="form-control" onchange="initoodsgrupociudades1();">
                            <option value="">Grupos de ciudades:</option>
                            </select>
                            </div>
                            </div>
                            <div class="col-md-3">
                            <div class="select_box">
                            <select id="changeGrupoodsgrupociudades2" class="form-control" onchange="initoodsgrupociudades2();">
                            <option value="">Grupos de ciudades:</option>
                            </select>
                            </div>
                            </div>
                            <div class="col-md-3">
                            <div class="select_box">
                            <select id="changeGrupoodsgrupociudades3" class="form-control" onchange="initoodsgrupociudades3();">
                            <option value="">Grupos de ciudades:</option>
                            </select>
                            </div>
                            </div>
                            <div class="col-md-3">
                            <div class="select_box">
                            <select id="changeGrupoodsgrupociudades4" class="form-control" onchange="initoodsgrupociudades4();">
                            <option value="">Grupos de ciudades:</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <br>
                        </div>

                        <div class="col-md-5 col-md-offset-2  text-center">
                          <p class="titleselector text-center">Seleccione un año para ver la información de este indicador</p>
                        </div>

                        <div class="col-md-3">
                            <div class="select_box">
                                <select id="changeYearodsgrupociudades" class="form-control changeYear" onchange="changeYearodsgrupociudades();">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-4 col-md-offset-4" >
                    <h4 class="text-center">Indicador de ODS por grupo de ciudades</h3>
                    </div>
                    <div class="col-md-6">
                    <div  style='position: relative; width: auto; max-height:300px' id="odsgrupoodsgrupociudades1"></div>
                    </div>
                    <div class="col-md-6">
                    <div  style='position: relative; width: auto; max-height:300px' id="odsgrupoodsgrupociudades2"></div>
                    </div>
                    <div class="col-md-6">
                    <div  style='position: relative; width: auto; max-height:300px' id="odsgrupoodsgrupociudades3"></div>
                    </div>
                    <div class="col-md-6">
                    <div  style='position: relative; width: auto; max-height:300px' id="odsgrupoodsgrupociudades4"></div>
                    </div>
                    </div>
                    <div class="row" id=''>
                    <div class="col-md-6 col-md-offset-3 text-center" >
                    <hr>
                    </div>
                    </div>
                    <div class="row" id="dashboardodstrazador">
                        <div class="col-md-6 col-md-offset-3 text-center" >
                            <p class="text-center titleselector">Seleccione uno o varios grupos de ciudades para ver su información</p>
                        </div>
                    </div>
                    <div class="row" id="">
                        <div class="col-md-3">
                        <div class="select_box">
                        <select id="changeGrupoodstrazadorgrupociudades1" class="form-control" onchange="initoodtrazadorsgrupociudades1();">
                        <option value="">Grupos de ciudades:</option>
                        </select>
                        </div>
                        </div>
                        <div class="col-md-3">
                        <div class="select_box">
                        <select id="changeGrupoodstrazadorgrupociudades2" class="form-control" onchange="initoodtrazadorsgrupociudades2();">
                        <option value="">Grupos de ciudades:</option>
                        </select>
                        </div>
                        </div>
                        <div class="col-md-3">
                        <div class="select_box">
                        <select id="changeGrupoodstrazadorgrupociudades3" class="form-control" onchange="initoodtrazadorsgrupociudades3();">
                        <option value="">Grupos de ciudades:</option>
                        </select>
                        </div>
                        </div>
                        <div class="col-md-3">
                        <div class="select_box">
                        <select id="changeGrupoodstrazadorgrupociudades4" class="form-control" onchange="initoodtrazadorsgrupociudades4();">
                        <option value="">Grupos de ciudades:</option>
                        </select>
                        </div>
                        </div>
                    </div>
                    <div class="row" id=''>
                    <div class="col-md-6 col-md-offset-3 text-center" >
                    <hr>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-md-offset-4" >
                            <h4 class="text-center">Indicador trazador de ODS por grupo de ciudades</h3>
                        </div>
                        <div class="col-md-6">
                             <div  style='position: relative; width: auto; max-height:300px' id="odsgrupoodstrazadorgrupociudades1"></div>
                        </div>
                        <div class="col-md-6">
                            <div  style='position: relative; width: auto; max-height:300px' id="odsgrupoodstrazadorgrupociudades2"></div>
                        </div>
                        <div class="col-md-6">
                            <div  style='position: relative; width: auto; max-height:300px' id="odsgrupoodstrazadorgrupociudades3"></div>
                        </div>
                        <div class="col-md-6">
                            <div  style='position: relative; width: auto; max-height:300px' id="odsgrupoodstrazadorgrupociudades4"></div>
                        </div>

                    </div>

                    <div class="row" id=''>
                    <div class="col-md-6 col-md-offset-3 text-center" >
                    <hr>
                    </div>
                    </div>

                    <div class="row">
                         <div class="col-md-5 col-md-offset-3" >
                             <h4 class="text-center">Mapa de calor por CIUDAD</h3>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-4">
                           <p class="titleselector">Seleccione un año</p>
                        </div>
                        <div class="col-md-3">
                            <div class="select_box">
                                <select id="changemapadecalorods" class="form-control changeYear" onchange="changemapadecalorods();">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12">
                    <div id='mapadecalorporods'  style='position: relative; width: auto; height:auto'></div>
                    </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="CIUDADES">


                <div class="row" style="z-index:999">
                    <div class="col-md-12"  style="z-index:999">
                        <div class="row border-botom" id="cityselectordashboard2"  style="z-index:999">

                            <div class="col-md-4 col-md-offset-1">
                                <p class="titleselector text-center">Seleccione una ciudad para ver su información:</p>
                            </div>
                            <div  class="col-md-3">
                                <div class="select_box">
                                    <select id="changeCity" class="form-control"  onchange="cityFilter();">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <img  id="imagen_city"  src=""/>
                    </div>
                    <div class="col-md-6">
                        <div id='citydeprmentmap'  style='position: relative; width: auto; height:300px'></div>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                <div id='citidashboardinfo'  style='position: relative; width: auto; height:auto'></div>
                </div>
                </div>
                <div class="row" id="cityatajos" style="display:none">
                <div class="col-md-12">
                <nav class="navbar navbar-default">
                <div class="container-fluid">
                <div class="navbar-header">

                <a class="navbar-brand" href="#">Enlaces rápidos</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                <li class="active"><a href="#cityindicadoresciudad">Indicadores de ODS por ciudad</a></li>
                <li><a href="#cityprogresohistorico">Histórico del indicador</a></li>
                <li><a href="#cityindicadorestrazadores">Trazadores por ODS</a></li>
                <li><a href="#citymapadecalorporciudad">Mapa de calor</a></li>
                </ul>

                </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
                </nav>
                </div>
                </div>

                <div class="row">
                <div class="col-md-12 text-center"><p class="titleselector">Seleccione un ODS, una meta y un indicador para ver su informacion</p>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                <div class="row" id="">
                <div class="col-md-4">
                <div class="select_box">
                <select id="changeOdsConcat2" class="form-control" onchange="odsConcatFilterCity();">
                <option value="">Seleccione aquí:</option>
                </select>
                </div>
                </div>
                <div class="col-md-4">
                <div class="select_box">
                <select id="changeMeta2" class="form-control" onchange="metaFIlterCity();">
                <option value="">Seleccione aquí:</option>
                </select>
                </div>
                </div>
                <div class="col-md-4">
                <div class="select_box">
                <select id="changeIndicador2" class="form-control" onchange="inicadorFIlterCity();">
                <option value="">Seleccione aquí:</option>
                </select>
                </div>
                </div>
                </div>
                </div>
                </div>

                <div class="row">

                <div class="col-md-12"><br></div>

                <div class="col-md-3  col-md-offset-4 text-center">
                    <p class="titleselector">Selecicone un año para ver la información </p>
                </div>
                <div class="col-md-3">
                <div class="select_box">
                <select id="" class="form-control changeYear" onchange="changeYearCityProgresoVsabsoluto(value);">

                </select>
                </div>
                </div>
                <div class="row">

                <div class="col-md-5 col-md-offset-3" >
                <h4 class="text-center">Progreso VS Absoluto del indicador</h3>
                </div>
                <div class="col-md-6">
                <div id='cityvsabsoluto' style='position: relative; width: auto; height:300px'></div>
                </div>
                <div class="col-md-6">
                <div id='cityprogreso' style='position: relative; width: auto; height:auto'></div>
                </div>

                </div>
                <div class="row" id='cityindicadoresciudad' >

                <div class="col-md-12" >
                <p class="text-center titleselector">Seleccione uno o varios ODS para ver su información</p>
                </div>
                <div class="col-md-3">
                <div class="select_box">
                <select id="changecityindicadoresciudad1" class="form-control" onchange="initcityindicadoresciudad1();">
                <option value="">ODS:</option>
                </select>
                </div>
                </div>
                <div class="col-md-3">
                <div class="select_box">
                <select id="changecityindicadoresciudad2" class="form-control" onchange="initcityindicadoresciudad2();">
                <option value="">ODS:</option>
                </select>
                </div>
                </div>
                <div class="col-md-3">
                <div class="select_box">
                <select id="changecityindicadoresciudad3" class="form-control" onchange="initcityindicadoresciudad3();">
                <option value="">ODS:</option>
                </select>
                </div>
                </div>
                <div class="col-md-3">
                <div class="select_box">
                <select id="changecityindicadoresciudad4" class="form-control" onchange="initcityindicadoresciudad4();">
                <option value="">ODS:</option>
                </select>
                </div>
                </div>

                <div class="col-md-12"><br>
                </div>

                <div class="col-md-3 col-md-offset-2"> <p class="titleselector">Seleccione año ver información en ODS</p>
                </div>
                <div class="col-md-3">
                <div class="select_box">
                <select id="changeYearcityindicadoresciudad" class="form-control changeYear" onchange="changeYearcityindicadoresciudad();">

                </select>
                </div>
                </div>
                <div class="col-md-5 col-md-offset-3" >
                <h4 class="text-center">Indicadores de ODS mas Grupos de ciudades  </h3>
                </div>
                <div class="col-md-6">
                <div  id='cityindicadoresciudad1'  style='position: relative; width: auto; max-height:300px'></div>
                </div>
                <div class="col-md-6">
                <div  id='cityindicadoresciudad2'  style='position: relative; width: auto; max-height:300px'></div>
                </div>
                <div class="col-md-6">
                <div  id='cityindicadoresciudad3'  style='position: relative; width: auto; max-height:300px'></div>
                </div>
                <div class="col-md-6">
                <div  id='cityindicadoresciudad4'  style='position: relative; width: auto; max-height:300px'></div>
                </div>
                </div>
                <div class="row" id="cityprogresohistorico">

                <div class="col-md-6 col-md-offset-4" >
                     <p class="text-center titleselector">Seleccione uno o varios ODS para ver su información</p>
                </div>
                <div class="col-md-3">
                <div class="select_box">
                <select id="changecityprogresohistorico1" class="form-control" onchange="initcityprogresohistorico1();">
                <option value="">ODS:</option>
                </select>
                </div>
                </div>
                    <div class="col-md-3">
                        <div class="select_box">
                            <select id="changecityprogresohistorico2" class="form-control" onchange="initcityprogresohistorico2();">
                            <option value="">ODS:</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="select_box">
                            <select id="changecityprogresohistorico3" class="form-control" onchange="initcityprogresohistorico3();">
                            <option value="">ODS:</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="select_box">
                            <select id="changecityprogresohistorico4" class="form-control" onchange="initcityprogresohistorico4();">
                            <option value="">ODS:</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12"><br>
                    </div>
                    <div class="col-md-3 col-md-offset-2"> <p class="titleselector"> Seleccione año ver información en ODS</p>
                    </div>
                    <div class="col-md-3">
                        <div class="select_box">
                        <select id="changeYearcityprogresohistorico" class="form-control changeYear" onchange="changeYearcityprogresohistorico();">

                        </select>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-3" >
                        <h4 class="text-center">Progreso histórico del indicador  </h3>
                    </div>
                    <div class="col-md-6">
                        <div id='cityprogresohistorico1'  style='position: relative; width: auto; max-height:300px'></div>
                    </div>
                    <div class="col-md-6">
                        <div id='cityprogresohistorico2'  style='position: relative; width: auto; max-height:300px'></div>
                    </div>
                    <div class="col-md-6">
                        <div id='cityprogresohistorico3'  style='position: relative; width: auto; max-height:300px'></div>
                    </div>
                    <div class="col-md-6">
                        <div id='cityprogresohistorico4'  style='position: relative; width: auto; max-height:300px'></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-4  >
                      <h4 class="text-center">Indicadores trazadores por ODS</h3>
                    </div>
                    <div class="col-md-3">
                        <div class="select_box">
                            <select id="changeyearindicadorestrazadoresporods" class="form-control changeYear" onchange="changeyearindicadorestrazadoresporods();">

                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                     <div id='cityindicadorestrazadores' style='position: relative; width: auto; height:auto'></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-4  >
                     <h4 class="text-center">Mapa de calor por ODS</h4>
                    </div>
                    <div class="col-md-12">
                        <div id='citymapadecalorporciudad' style='position: relative; width: auto; height:auto'></div>
                    </div>
                </div>
                </div>
                </div>
                </div>
                </div>
    </div>

block js
    script(src="https://public.tableau.com/javascripts/api/tableau-2.min.js")
    script(src="/js/margin.js")
    script(src="/js/jquery.sticky.js")
    script.
        //ods
        var vizodsdashboardselector;

        var vizodsgrupoodsgrupociudades1;
        var vizodsgrupoodsgrupociudades2;
        var vizodsgrupoodsgrupociudades3;
        var vizodsgrupoodsgrupociudades4;

        var vizodsgrupoodstrazadorgrupociudades1;
        var vizodsgrupoodstrazadorgrupociudades2;
        var vizodsgrupoodstrazadorgrupociudades3;
        var vizodsgrupoodstrazadorgrupociudades4;

        var vizodsdashboardinfo;
        var vizdashboardodstrazador;
        var vizmapadecalorporods;
        //city
        var vizcityselectordashboard;
        var vizcitidashboardinfo;
        var vizcitivabsoluto;
        var vizcitiprogreso;
        var vizcitydeprmentmap;


        var vizcityindicadoresciudad1;
        var vizcityindicadoresciudad2;
        var vizcityindicadoresciudad3;
        var vizcityindicadoresciudad4;
        var vizcityprogresohistorico1;
        var vizcityprogresohistorico2;
        var vizcityprogresohistorico3;
        var vizcityprogresohistorico4;
        var vizcityindicadorestrazadores;
        var vizcitymapadecalorporciudad;
        var activetab = "ODS";
        $(document).ready(function () {
            //ods
            //initodsdashboardselector();
            //ciudaddes
            //initodsdashboardinfo();
            $.ajax({
                url: 'http://ciudatos.com:8080/api/cities/getCities/',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    var html = '<option value="">Seleccione aquí:</option>';
                    jQuery.each(data, function (i, value) {
                        html += '<option data-img=' + value.avatar.url + ' data-group=' + value.group_cities_id + ' value=' + value.name + '>' + value.name + '</option>';

                    })
                    $("#changeCity").html(html);


                }
            })
            //ods
            $.ajax({
                url: 'http://ciudatos.com:8080/api/goals/getGoals/',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    var html = '<option value="">Seleccione aquí:</option>';
                    var html2 = '<option value="">ODS:</option>';
                    jQuery.each(data, function (i, value) {
                        html += '<option value=' + value.id + '>' + value.number + ' ' + value.name + '</option>';
                        html2 += '<option value=' + value.id + '>' + value.number + ' ' + value.name + '</option>';

                    })
                    $("#changeOdsConcat").html(html);
                    $("#changeOdsConcat2").html(html);
                    $("#changecityindicadoresciudad1").html(html2);
                    $("#changecityindicadoresciudad2").html(html2);
                    $("#changecityindicadoresciudad3").html(html2);
                    $("#changecityindicadoresciudad4").html(html2);
                    $("#changecityprogresohistorico1").html(html2);
                    $("#changecityprogresohistorico2").html(html2);
                    $("#changecityprogresohistorico3").html(html2);
                    $("#changecityprogresohistorico4").html(html2);


                }
            })
            //grupos de ciudades
            $.ajax({
                url: 'http://ciudatos.com:8080/api/group_cities/getGrupos',
                dataType: 'json',
                type: 'GET',
                success: function (data) {
                    var html = '<option value="">Grupos de ciudades:</option>';
                    jQuery.each(data, function (i, value) {
                        html += '<option value=' + value.id + '>' + value.name + '</option>';

                    })
                    $("#changeGrupoodsgrupociudades1").html(html);
                    $("#changeGrupoodsgrupociudades2").html(html);
                    $("#changeGrupoodsgrupociudades3").html(html);
                    $("#changeGrupoodsgrupociudades4").html(html);


                    $("#changeGrupoodstrazadorgrupociudades1").html(html);
                    $("#changeGrupoodstrazadorgrupociudades2").html(html);
                    $("#changeGrupoodstrazadorgrupociudades3").html(html);
                    $("#changeGrupoodstrazadorgrupociudades4").html(html);
                }
            })

            $("#odsselectordashboard2").sticky({topSpacing: 40});
            $('.nav-pills a').on('shown.bs.tab', function (event) {
                console.log('cambie de pestaña');
                activetab = $(event.target).text();         // active tab
                var y = $(event.relatedTarget).text();  // previous tab
                if (activetab == 'CIUDADES') {
                    $("#cityselectordashboard2").sticky({topSpacing: 40});
                    $("#odsselectordashboard2").unstick();

                    //initvizcitydeprmentmap();

                } else {
                    $("#cityselectordashboard2").unstick();
                    $("#odsselectordashboard2").sticky({topSpacing: 40});
                   // initodsdashboardinfo();
                }
            });

            //$('iframe').iFrameResize({checkOrigin: false})


            var start_year = new Date().getFullYear();


            for (var i = start_year-1; i > start_year - 4; i--) {
                $('.changeYear').append('<option value="' + i + '">' + i + '</option>');
            }

        })


        //ods
        function initodsdashboardselector() {
            var containerDiv = document.getElementById("odsdashboardselector"),
                url = "https://public.tableau.com/views/Ciudatos/ODSDASHBOARD-selector?:embed=y&:display_count=no&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        // $("#odsdashboardselector").sticky({topSpacing: 40});
                        $(".tab-toolbar").css('display', 'none');
                        initodsdashboardinfo();

                    }
                };
            vizodsdashboardselector = new tableau.Viz(containerDiv, url, options);
        }

        function initodsdashboardinfo() {

            if (vizodsdashboardinfo == null) {
                var containerDiv = document.getElementById("odsdashboardinfo"),
                    url = "https://public.tableau.com/views/Ciudatos/ODSDASHBOARD-info?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                    options = {
                        hideTabs: true,
                        'ods concat':$("#changeOdsConcat option:selected").html(),
                        'name (Targets)':$("#changeMeta option:selected").html(),
                        onFirstInteractive: function () {

                            odsConcatFilter();


                        }
                    };
                vizodsdashboardinfo = new tableau.Viz(containerDiv, url, options);
            } else {

               //initmapadecalorporods();
            }
        }


        function initmapadecalorporods() {
            var indicador = $("#changeIndicador").val();

            var ano = $("#changemapadecalorods").val();
            if (indicador != "") {
                var indicador = $("#changeIndicador option:selected").text();
                if (vizmapadecalorporods == null || vizmapadecalorporods == undefined) {
                    console.log(vizmapadecalorporods);
                    var containerDiv = document.getElementById("mapadecalorporods"),
                        url = "https://public.tableau.com/views/Ciudatos/Mapadecalorporods?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                        options = {
                            "Indicador": indicador,
                            "Date From": ano,
                            hideTabs: true,
                            onFirstInteractive: function () {
                                //city
                                console.log('iniciando ciudae');

                            }
                        };
                    vizmapadecalorporods = new tableau.Viz(containerDiv, url, options);
                    console.log(vizmapadecalorporods);
                } else {

                    vizmapadecalorporods.dispose();
                    $("#mapadecalorporods").html('');
                    vizmapadecalorporods = undefined;
                    initmapadecalorporods();
                }
            }
        }

        function changeGrupoodsgrupociudades1() {

            var sheet = vizodsgrupoodsgrupociudades1.getWorkbook().getActiveSheet();
            var fieldname = "Grupo";
            var text = $("#changeGrupoodsgrupociudades1 option:selected").text();
            var value = $("#changeGrupoodsgrupociudades1").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizodsgrupoodsgrupociudades1.dispose();
                vizodsgrupoodsgrupociudades1 = undefined;
            }
        }

        function changeGrupoodsgrupociudades2() {
            var sheet = vizodsgrupoodsgrupociudades2.getWorkbook().getActiveSheet();
            var fieldname = "Grupo";
            var text = $("#changeGrupoodsgrupociudades2 option:selected").text();
            var value = $("#changeGrupoodsgrupociudades2").val();
            console.log(value);
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizodsgrupoodsgrupociudades2.dispose();
                vizodsgrupoodsgrupociudades2 = undefined;
            }
        }

        function changeGrupoodsgrupociudades3() {
            var sheet = vizodsgrupoodsgrupociudades3.getWorkbook().getActiveSheet();
            var fieldname = "Grupo";
            var text = $("#changeGrupoodsgrupociudades3 option:selected").text();
            var value = $("#changeGrupoodsgrupociudades3").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizodsgrupoodsgrupociudades3.dispose();
                vizodsgrupoodsgrupociudades3 = undefined;
            }
        }

        function changeGrupoodsgrupociudades4() {
            var sheet = vizodsgrupoodsgrupociudades4.getWorkbook().getActiveSheet();
            var fieldname = "Grupo";
            var text = $("#changeGrupoodsgrupociudades4 option:selected").text();
            var value = $("#changeGrupoodsgrupociudades4").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            } else {
                vizodsgrupoodsgrupociudades4.dispose();
                vizodsgrupoodsgrupociudades4 = undefined;
            }
        }



        function changeGrupoodstrazadorgrupociudades1() {

            var sheet = vizodsgrupoodstrazadorgrupociudades1.getWorkbook().getActiveSheet();
            var fieldname = "Grupo";
            var text = $("#changeGrupoodstrazadorgrupociudades1 option:selected").text();
            var value = $("#changeGrupoodstrazadorgrupociudades1").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizodsgrupoodstrazadorgrupociudades1.dispose();
                vizodsgrupoodstrazadorgrupociudades1 = undefined;
            }
        }
        function changeGrupoodstrazadorgrupociudades2() {

            var sheet = vizodsgrupoodstrazadorgrupociudades2.getWorkbook().getActiveSheet();
            var fieldname = "Grupo";
            var text = $("#changeGrupoodstrazadorgrupociudades2 option:selected").text();
            var value = $("#changeGrupoodstrazadorgrupociudades2").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizodsgrupoodstrazadorgrupociudades2.dispose();
                vizodsgrupoodstrazadorgrupociudades2 = undefined;
            }
        }

        function changeGrupoodstrazadorgrupociudades3() {

            var sheet = vizodsgrupoodstrazadorgrupociudades3.getWorkbook().getActiveSheet();
            var fieldname = "Grupo";
            var text = $("#changeGrupoodstrazadorgrupociudades3 option:selected").text();
            var value = $("#changeGrupoodstrazadorgrupociudades3").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizodsgrupoodstrazadorgrupociudades3.dispose();
                vizodsgrupoodstrazadorgrupociudades3 = undefined;
            }
        }

        function changeGrupoodstrazadorgrupociudades4() {

            var sheet = vizodsgrupoodstrazadorgrupociudades4.getWorkbook().getActiveSheet();
            var fieldname = "Grupo";
            var text = $("#changeGrupoodstrazadorgrupociudades4 option:selected").text();
            var value = $("#changeGrupoodstrazadorgrupociudades4").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizodsgrupoodstrazadorgrupociudades4.dispose();
                vizodsgrupoodstrazadorgrupociudades4 = undefined;
            }
        }



        function changecityodsindicadoresciudad4() {

            var sheet = vizcityindicadoresciudad4.getWorkbook().getActiveSheet();
            var fieldname = "ods concat";
            var text = $("#changecityindicadoresciudad4 option:selected").text();
            var value = $("#changecityindicadoresciudad4").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizcityindicadoresciudad4.dispose();
                vizcityindicadoresciudad4 = undefined;
            }
        }


        function changecityodsindicadoresciudad3() {

            var sheet = vizcityindicadoresciudad3.getWorkbook().getActiveSheet();
            var fieldname = "ods concat";
            var text = $("#changecityindicadoresciudad3 option:selected").text();
            var value = $("#changecityindicadoresciudad3").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizcityindicadoresciudad3.dispose();
                vizcityindicadoresciudad3 = undefined;
            }
        }

        function changecityodsindicadoresciudad2() {

            var sheet = vizcityindicadoresciudad2.getWorkbook().getActiveSheet();
            var fieldname = "ods concat";
            var text = $("#changecityindicadoresciudad2 option:selected").text();
            var value = $("#changecityindicadoresciudad2").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizcityindicadoresciudad2.dispose();
                vizcityindicadoresciudad2 = undefined;
            }
        }

        function changecityodsindicadoresciudad1() {

            var sheet = vizcityindicadoresciudad1.getWorkbook().getActiveSheet();
            var fieldname = "ods concat";
            var text = $("#changecityindicadoresciudad1 option:selected").text();
            var value = $("#changecityindicadoresciudad1").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizcityindicadoresciudad1.dispose();
                vizcityindicadoresciudad1 = undefined;
            }
        }
        function changecityprogresohistorico1() {

            var sheet = vizcityprogresohistorico1.getWorkbook().getActiveSheet();
            var fieldname = "ods concat";
            var text = $("#changecityprogresohistorico1 option:selected").text();
            var value = $("#changecityprogresohistorico1").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizcityprogresohistorico1.dispose();
                vizcityprogresohistorico1 = undefined;
            }
        }
        function changecityprogresohistorico2() {

            var sheet = vizcityprogresohistorico2.getWorkbook().getActiveSheet();
            var fieldname = "ods concat";
            var text = $("#changecityprogresohistorico2 option:selected").text();
            var value = $("#changecityprogresohistorico2").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizcityprogresohistorico2.dispose();
                vizcityprogresohistorico2 = undefined;
            }
        }

        function changecityprogresohistorico3() {

            var sheet = vizcityprogresohistorico3.getWorkbook().getActiveSheet();
            var fieldname = "ods concat";
            var text = $("#changecityprogresohistorico3 option:selected").text();
            var value = $("#changecityprogresohistorico3").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizcityprogresohistorico3.dispose();
                vizcityprogresohistorico3 = undefined;
            }
        }

        function changecityprogresohistorico4() {

            var sheet = vizcityprogresohistorico4.getWorkbook().getActiveSheet();
            var fieldname = "ods concat";
            var text = $("#changecityprogresohistorico4 option:selected").text();
            var value = $("#changecityprogresohistorico4").val();
            if (value != "") {
                sheet.applyFilterAsync(fieldname, text, tableau.FilterUpdateType.REPLACE);
            }
            else {
                vizcityprogresohistorico4.dispose();
                vizcityprogresohistorico4 = undefined;
            }
        }

        function initoodsgrupociudades1() {


            var Grupoodsgrupociudades1 = $("#changeGrupoodsgrupociudades1").val();
            var valuemeta = $("#changeMeta").val();
            if (valuemeta == '') {
                if (Grupoodsgrupociudades1 != '') {
                    alert('Debe seleccionar una meta');
                }
            }else{
                if (vizodsgrupoodsgrupociudades1 == null) {
                        var containerDiv = document.getElementById("odsgrupoodsgrupociudades1"),
                            url = "https://public.tableau.com/views/Ciudatos/IndicadordeODSporgrupodeciudades?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                            options = {
                                hideTabs: true,
                                "Name (Targets)":$("#changeMeta option:selected").html(),
                                "Date From":$("#changeYearodsgrupociudades").val(),
                                "Indicador (Copia)": $("#changeIndicador option:selected").html(),
                                onFirstInteractive: function () {

                                    changeGrupoodsgrupociudades1();
                                    changeYearodsgrupociudades();

                                }
                            };
                        vizodsgrupoodsgrupociudades1 = new tableau.Viz(containerDiv, url, options);
                    } else {
                    changeGrupoodsgrupociudades1();
                    changeYearodsgrupociudades();
                }
            }



        }


        function initoodsgrupociudades2() {

            var ano = $("#changeYearodsgrupociudades").val();
            var Grupoodsgrupociudades2 = $("#changeGrupoodsgrupociudades2").val();
            var valuemeta = $("#changeMeta").val();
            if (valuemeta == '') {
                if (Grupoodsgrupociudades2 != '') {
                    alert('Debe seleccionar una meta');
                }
            }
             else {
                if (vizodsgrupoodsgrupociudades2 == null) {
                    var containerDiv = document.getElementById("odsgrupoodsgrupociudades2"),
                        url = "https://public.tableau.com/views/Ciudatos/IndicadordeODSporgrupodeciudades2?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                        options = {
                            hideTabs: true,
                            "Name (Targets)": $("#changeMeta option:selected").html(),
                            "Date From": $("#changeYearodsgrupociudades").val(),
                            "Indicador (Copia)": $("#changeIndicador option:selected").html(),
                            onFirstInteractive: function () {


                                changeGrupoodsgrupociudades2();
                                changeYearodsgrupociudades();
                            }
                        };
                    vizodsgrupoodsgrupociudades2 = new tableau.Viz(containerDiv, url, options);
                } else {
                    changeGrupoodsgrupociudades2();
                    changeYearodsgrupociudades();
                }
            }



        }


        function initoodsgrupociudades3() {

            var ano = $("#changeYearodsgrupociudades").val();
            var Grupoodsgrupociudades3 = $("#changeGrupoodsgrupociudades3").val();
            var valuemeta = $("#changeMeta").val();
            if (valuemeta == '') {
                if (Grupoodsgrupociudades3 != '') {
                    alert('Debe seleccionar una meta');
                }

            } else {
                if (vizodsgrupoodsgrupociudades3 == null) {
                    var containerDiv = document.getElementById("odsgrupoodsgrupociudades3"),
                        url = "https://public.tableau.com/views/Ciudatos/IndicadordeODSporgrupodeciudades3?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                        options = {
                            hideTabs: true,
                            "Name (Targets)": $("#changeMeta option:selected").html(),
                            "Date From": $("#changeYearodsgrupociudades").val(),
                            "Indicador (Copia)": $("#changeIndicador option:selected").html(),
                            onFirstInteractive: function () {
                                changeGrupoodsgrupociudades3();
                                changeYearodsgrupociudades();

                            }
                        };
                    vizodsgrupoodsgrupociudades3 = new tableau.Viz(containerDiv, url, options);
                } else {
                    changeGrupoodsgrupociudades3();
                    changeYearodsgrupociudades();
                }
            }



        }

        function initoodsgrupociudades4() {

            var ano = $("#changeYearodsgrupociudades").val();
            var Grupoodsgrupociudades4 = $("#changeGrupoodsgrupociudades4").val();
            var valuemeta = $("#changeMeta").val();
            if (valuemeta == '') {
                if(Grupoodsgrupociudades4!='') {
                    alert('Debe seleccionar una meta');
                }
            } else {
                if (vizodsgrupoodsgrupociudades4 == null) {
                    var containerDiv = document.getElementById("odsgrupoodsgrupociudades4"),
                        url = "https://public.tableau.com/views/Ciudatos/IndicadordeODSporgrupodeciudades4?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                        options = {
                            hideTabs: true,
                            "Name (Targets)": $("#changeMeta option:selected").html(),
                            "Date From": $("#changeYearodsgrupociudades").val(),
                            "Indicador (Copia)": $("#changeIndicador option:selected").html(),
                            onFirstInteractive: function () {
                                changeGrupoodsgrupociudades4();
                                changeYearodsgrupociudades();

                            }
                        };
                    vizodsgrupoodsgrupociudades4 = new tableau.Viz(containerDiv, url, options);
                } else {
                    changeGrupoodsgrupociudades4();
                    changeYearodsgrupociudades();
                }
            }


        }




        function initoodtrazadorsgrupociudades1() {

            if (vizodsgrupoodstrazadorgrupociudades1 == null) {
                var containerDiv = document.getElementById("odsgrupoodstrazadorgrupociudades1"),
                    url = "https://public.tableau.com/views/Ciudatos/Indicadortrazadordeodsporgrupodeciudades?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                    options = {
                        hideTabs: true,
                        onFirstInteractive: function () {

                            changeGrupoodstrazadorgrupociudades1();


                        }
                    };
                vizodsgrupoodstrazadorgrupociudades1 = new tableau.Viz(containerDiv, url, options);
            } else {
                changeGrupoodstrazadorgrupociudades1();

            }


        }

        function initoodtrazadorsgrupociudades2() {

            if (vizodsgrupoodstrazadorgrupociudades2 == null) {
                var containerDiv = document.getElementById("odsgrupoodstrazadorgrupociudades2"),
                    url = "https://public.tableau.com/views/Ciudatos/Indicadortrazadordeodsporgrupodeciudades2?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                    options = {
                        hideTabs: true,
                        onFirstInteractive: function () {

                            changeGrupoodstrazadorgrupociudades2();


                        }
                    };
                vizodsgrupoodstrazadorgrupociudades2 = new tableau.Viz(containerDiv, url, options);
            } else {
                changeGrupoodstrazadorgrupociudades2();

            }


        }


        function initoodtrazadorsgrupociudades3() {

            if (vizodsgrupoodstrazadorgrupociudades3 == null) {
                var containerDiv = document.getElementById("odsgrupoodstrazadorgrupociudades3"),
                    url = "https://public.tableau.com/views/Ciudatos/Indicadortrazadordeodsporgrupodeciudades3?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                    options = {
                        hideTabs: true,
                        onFirstInteractive: function () {

                            changeGrupoodstrazadorgrupociudades3();


                        }
                    };
                vizodsgrupoodstrazadorgrupociudades3 = new tableau.Viz(containerDiv, url, options);
            } else {
                changeGrupoodstrazadorgrupociudades3();

            }


        }


        function initoodtrazadorsgrupociudades4() {

            if (vizodsgrupoodstrazadorgrupociudades4 == null) {
                var containerDiv = document.getElementById("odsgrupoodstrazadorgrupociudades4"),
                    url = "https://public.tableau.com/views/Ciudatos/Indicadortrazadordeodsporgrupodeciudades4?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                    options = {
                        hideTabs: true,
                        onFirstInteractive: function () {

                            changeGrupoodstrazadorgrupociudades4();


                        }
                    };
                vizodsgrupoodstrazadorgrupociudades4 = new tableau.Viz(containerDiv, url, options);
            } else {
                changeGrupoodstrazadorgrupociudades4();

            }


        }


        function initcityindicadoresciudad1() {

            var ods = $("#changecityindicadoresciudad1 option:selected").text();
            var grupo = $("#changeCity option:selected").attr('data-group');
            if (grupo == '' || grupo == undefined) {
                alert('Debe seleccionar la ciudad');
            } else {
                if (vizcityindicadoresciudad1 == null) {
                    var containerDiv = document.getElementById("cityindicadoresciudad1"),
                        url = "https://public.tableau.com/views/Ciudatos/IndicadoresdeODSporciudadgrupodeciudades?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                        options = {
                            hideTabs: true,
                            "Id (Group Cities)": grupo,
                            "ods concat": ods
                        };
                    vizcityindicadoresciudad1 = new tableau.Viz(containerDiv, url, options);
                } else {
                    changecityodsindicadoresciudad1();
                }
            }

        }

        function initcityindicadoresciudad2() {

            var grupo = $("#changeCity option:selected").attr('data-group');
            if (grupo == '' || grupo == undefined) {
                alert('Debe seleccionar la ciudad');
            } else {
                var ods = $("#changecityindicadoresciudad2 option:selected").text();
                if (vizcityindicadoresciudad2 == null) {
                    var containerDiv = document.getElementById("cityindicadoresciudad2"),
                        url = "https://public.tableau.com/views/Ciudatos/IndicadoresdeODSporciudadgrupodeciudades2?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                        options = {
                            hideTabs: true,
                            "Id (Group Cities)": grupo,
                            "ods concat": ods

                        };
                    vizcityindicadoresciudad2 = new tableau.Viz(containerDiv, url, options);
                } else {
                    changecityodsindicadoresciudad2();
                }
            }

        }


        function initcityindicadoresciudad3() {

            var grupo = $("#changeCity option:selected").attr('data-group');
            var ods = $("#changecityindicadoresciudad3 option:selected").text();
            if (grupo == '' || grupo == undefined) {
                alert('Debe seleccionar la ciudad');
            } else {
                if (vizcityindicadoresciudad3 == null) {
                    var containerDiv = document.getElementById("cityindicadoresciudad3"),
                        url = "https://public.tableau.com/views/Ciudatos/IndicadoresdeODSporciudadgrupodeciudades3?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                        options = {
                            hideTabs: true,
                            "Id (Group Cities)": grupo,
                            "ods concat": ods
                        };
                    vizcityindicadoresciudad3 = new tableau.Viz(containerDiv, url, options);
                }
                else {
                    changecityodsindicadoresciudad3();
                }
            }

        }

        function initcityindicadoresciudad4() {

            var grupo = $("#changeCity option:selected").attr('data-group');
            var ods = $("#changecityindicadoresciudad4 option:selected").text();
            if (grupo == '' || grupo == undefined) {
                alert('Debe seleccionar la ciudad');
            } else {
                if (vizcityindicadoresciudad4 == null) {
                    var containerDiv = document.getElementById("cityindicadoresciudad4"),
                        url = "https://public.tableau.com/views/Ciudatos/IndicadoresdeODSporciudadgrupodeciudades4?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                        options = {
                            hideTabs: true,
                            "Id (Group Cities)": grupo,
                            "ods concat": ods

                        };
                    vizcityindicadoresciudad4 = new tableau.Viz(containerDiv, url, options);
                }
                else {
                    changecityodsindicadoresciudad4();
                }
            }

        }

        function initdashboardodstrazador() {
            if (vizdashboardodstrazador == null) {
                var containerDiv = document.getElementById("dashboardodstrazador"),
                    url = "https://public.tableau.com/views/Ciudatos/ODSDASHBOARD-trazadorporgrupo?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                    options = {
                        hideTabs: true,
                        onFirstInteractive: function () {
                          //  initmapadecalorporods();
                        }
                    };
                vizdashboardodstrazador = new tableau.Viz(containerDiv, url, options);
            } else {
               // initmapadecalorporods();
            }
        }

        //city

        function initvizcityselectordashboard() {
            var containerDiv = document.getElementById("cityselectordashboard"),
                url = "https://public.tableau.com/views/Ciudatos/CityDashboard-selector?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {

                        //$("#cityselectordashboard").sticky({topSpacing: 40});
                        $("#cityatajos").css('display', 'block');

                        console.log('ya inici ciudades');
                        initvizcitydeprmentmap();


                    }
                };
            vizcityselectordashboard = new tableau.Viz(containerDiv, url, options);
        }


        function initvizcitidashboardinfo() {
            if (vizcitidashboardinfo == null) {
                var containerDiv = document.getElementById("citidashboardinfo"),
                    url = "https://public.tableau.com/views/Ciudatos/CityDashboardinfo?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                    options = {
                        hideTabs: true,
                        onFirstInteractive: function () {
                            console.log('inicio lo demas de ciuades');


                            initvizcityprogreovsabsoluto();


                        }
                    };
                vizcitidashboardinfo = new tableau.Viz(containerDiv, url, options);
            } else {
                initvizcityprogreovsabsoluto();
            }


        }



        function initvizcitydeprmentmap() {
            if (vizcitydeprmentmap == null) {
                var containerDiv = document.getElementById("citydeprmentmap"),
                    url = "https://public.tableau.com/views/Ciudatos/Departmentmap?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                    options = {
                        hideTabs: true,
                        onFirstInteractive: function () {
                            //  console.log('inicio lo demas de ciuades');
                            initvizcitidashboardinfo();
                            cityFilter();

                        }
                    };
                vizcitydeprmentmap = new tableau.Viz(containerDiv, url, options);
            } else {
                initvizcitidashboardinfo();
            }
        }

        function initvizcityprogreovsabsoluto() {


            if (vizcitivabsoluto == null) {
                var containerDiv = document.getElementById("cityvsabsoluto"),
                    url = "https://public.tableau.com/views/Ciudatos/Indicadordeprogresoabsolutociudad?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                    options = {
                        hideTabs: true,
                        onFirstInteractive: function () {

                        }
                    };
                vizcitivabsoluto = new tableau.Viz(containerDiv, url, options);
            }


            if (vizcitiprogreso == null) {
                var containerDiv = document.getElementById("cityprogreso"),
                    url = "https://public.tableau.com/views/Ciudatos/IndexScorePorindicador?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                    options = {
                        hideTabs: true,
                        onFirstInteractive: function () {
                            console.log('inicio lo demas de ciuades');

                        }
                    };
                vizcitiprogreso = new tableau.Viz(containerDiv, url, options);
            }


            initvizcityindicadorestrazadores();

        }


        function initcityprogresohistorico1() {


            var ods = $("#changecityindicadoresciudad1 option:selected").text();
            var grupo = $("#changeCity option:selected").attr('data-group');
            if (grupo == '' || grupo == undefined) {
                alert('Debe seleccionar la ciudad');
            } else {
                if (vizcityprogresohistorico1 == null) {
                    var containerDiv = document.getElementById("cityprogresohistorico1"),
                        url = "https://public.tableau.com/views/Ciudatos/HistoricoODS?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                        options = {
                            hideTabs: true,
                            "Id (Group Cities)": grupo,
                            "ods concat": ods
                        };
                    vizcityprogresohistorico1 = new tableau.Viz(containerDiv, url, options);
                } else {
                    changecityprogresohistorico1();
                }
            }
        }
        function initcityprogresohistorico2() {


            var ods = $("#changecityindicadoresciudad2 option:selected").text();
            var grupo = $("#changeCity option:selected").attr('data-group');
            if (grupo == '' || grupo == undefined) {
                alert('Debe seleccionar la ciudad');
            } else {
                if (vizcityprogresohistorico2 == null) {
                    var containerDiv = document.getElementById("cityprogresohistorico2"),
                        url = "https://public.tableau.com/views/Ciudatos/HistoricoODS2?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                        options = {
                            hideTabs: true,
                            "Id (Group Cities)": grupo,
                            "ods concat": ods
                        };
                    vizcityprogresohistorico2 = new tableau.Viz(containerDiv, url, options);
                } else {
                    changecityprogresohistorico2();
                }
            }
        }
        function initcityprogresohistorico3() {


            var ods = $("#changecityindicadoresciudad3 option:selected").text();
            var grupo = $("#changeCity option:selected").attr('data-group');
            if (grupo == '' || grupo == undefined) {
                alert('Debe seleccionar la ciudad');
            } else {
                if (vizcityprogresohistorico3 == null) {
                    var containerDiv = document.getElementById("cityprogresohistorico3"),
                        url = "https://public.tableau.com/views/Ciudatos/HistoricoODS3?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                        options = {
                            hideTabs: true,
                            "Id (Group Cities)": grupo,
                            "ods concat": ods
                        };
                    vizcityprogresohistorico3 = new tableau.Viz(containerDiv, url, options);
                } else {
                    changecityprogresohistorico3();
                }
            }
        }
        function initcityprogresohistorico4() {


            var ods = $("#changecityindicadoresciudad4 option:selected").text();
            var grupo = $("#changeCity option:selected").attr('data-group');
            if (grupo == '' || grupo == undefined) {
                alert('Debe seleccionar la ciudad');
            } else {
                if (vizcityprogresohistorico4 == null) {
                    var containerDiv = document.getElementById("cityprogresohistorico4"),
                        url = "https://public.tableau.com/views/Ciudatos/HistoricoODS4?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                        options = {
                            hideTabs: true,
                            "Id (Group Cities)": grupo,
                            "ods concat": ods
                        };
                    vizcityprogresohistorico4 = new tableau.Viz(containerDiv, url, options);
                } else {
                    changecityprogresohistorico4();
                }
            }
        }


        function changemapadecalorods() {
            var ano = $("#changemapadecalorods").val();
            var fieldname = "Date From";

            if (vizmapadecalorporods != null) {
                var sheet = vizmapadecalorporods.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }else{
                initmapadecalorporods();
            }

        }
        function changeyearindicadorestrazadoresporods() {
            var ano = $("#changeyearindicadorestrazadoresporods").val();
            var fieldname = "Date From";

            if (vizcityindicadorestrazadores != null) {
                var sheet = vizcityindicadorestrazadores.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }

        }
        function changeYearodsgrupociudades() {
            var ano = $("#changeYearodsgrupociudades").val();
            var fieldname = "Date From";

            if (vizodsgrupoodsgrupociudades1 != null) {
                var sheet = vizodsgrupoodsgrupociudades1.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
            if (vizodsgrupoodsgrupociudades2 != null) {
                var sheet = vizodsgrupoodsgrupociudades2.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
            if (vizodsgrupoodsgrupociudades3 != null) {
                var sheet = vizodsgrupoodsgrupociudades3.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
            if (vizodsgrupoodsgrupociudades4 != null) {
                var sheet = vizodsgrupoodsgrupociudades4.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
        }

        function changeYearcityindicadoresciudad() {
            var ano = $("#changeYearcityindicadoresciudad").val();
            var fieldname = "Date From";

            if (vizcityindicadoresciudad1 != null) {
                var sheet = vizcityindicadoresciudad1.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
            if (vizcityindicadoresciudad2 != null) {
                var sheet = vizcityindicadoresciudad2.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
            if (vizcityindicadoresciudad3 != null) {
                var sheet = vizcityindicadoresciudad3.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
            if (vizcityindicadoresciudad4 != null) {
                var sheet = vizcityindicadoresciudad4.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
        }

        function changeYearcityprogresohistorico() {
            var ano = $("#changeYearcityprogresohistorico").val();
            var fieldname = "Date From";

            if (vizcityprogresohistorico1 != null) {
                var sheet = vizcityprogresohistorico1.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
            if (vizcityprogresohistorico2 != null) {
                var sheet = vizcityprogresohistorico2.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
            if (vizcityprogresohistorico3 != null) {
                var sheet = vizcityprogresohistorico3.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
            if (vizcityprogresohistorico4 != null) {
                var sheet = vizcityprogresohistorico4.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
        }
        function changeYearCityProgresoVsabsoluto(ano) {
            var fieldname = "Date From";

            if (vizcitivabsoluto != null) {
                var sheet = vizcitivabsoluto.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }
            if (vizcitiprogreso != null) {
                var sheet = vizcitiprogreso.getWorkbook().getActiveSheet()

                if (ano != "") {

                    sheet.applyFilterAsync(fieldname, ano, tableau.FilterUpdateType.REPLACE);
                }

            }

        }

        function initvizcityindicadorestrazadores() {

            if (vizcityindicadorestrazadores == null) {

                var containerDiv = document.getElementById("cityindicadorestrazadores"),
                    url = "https://public.tableau.com/views/Ciudatos/IndicadorestrazadoresporODS?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                    options = {
                        hideTabs: true,
                        onFirstInteractive: function () {
                            initvizcitymapadecalorporciudad();


                        }
                    };
                vizcityindicadorestrazadores = new tableau.Viz(containerDiv, url, options);
            } else {

                vizcityindicadorestrazadores.dispose();
                $("#cityindicadorestrazadores").html('');
                vizcityindicadorestrazadores = undefined;
                initvizcityindicadorestrazadores();


            }

        }

        function initvizcitymapadecalorporciudad() {
            if (vizcitymapadecalorporciudad == null) {

                var containerDiv = document.getElementById("citymapadecalorporciudad"),
                    url = "https://public.tableau.com/views/Ciudatos/Mapadecalorbycity?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                    options = {
                        hideTabs: true,
                        onFirstInteractive: function () {

                            console.log('cargo mapa de calor ciudad');


                        }
                    };

                vizcitymapadecalorporciudad = new tableau.Viz(containerDiv, url, options);
            } else {


                vizcitymapadecalorporciudad.dispose();
                $("#citymapadecalorporciudad").html('');
                vizcitymapadecalorporciudad = undefined;
                initvizcitymapadecalorporciudad();

            }


        }


        //filters

        //ods
        function odsConcatFilter() {


            if (vizodsdashboardinfo == null || vizodsdashboardinfo ===undefined) {
                initodsdashboardinfo();
            }else {
                var ods = $("#changeOdsConcat option:selected").text();
                console.log(ods);
                $.ajax({
                    url: 'http://ciudatos.com:8080/api/targets/getTargets/',
                    dataType: 'json',
                    type: 'GET',
                    data: {goal_id: $("#changeOdsConcat").val()},
                    success: function (data) {
                        var html = '<option value="">Seleccione aquí:</option>';
                        jQuery.each(data, function (i, value) {
                            html += '<option value=' + value.id + '>' + value.name + '</option>';

                        })
                        $("#changeMeta").html(html);
                        inicadorFIlter();

                    }
                })


                var fieldname = "ods concat";


                if (activetab == 'ODS') {


                    if (vizodsgrupoodsgrupociudades1 != null) {
                        var sheet = vizodsgrupoodsgrupociudades1.getWorkbook().getActiveSheet();
                        if (ods != "") {

                            sheet.applyFilterAsync(fieldname, ods, tableau.FilterUpdateType.REPLACE);
                        }
                    }
                    if (vizodsgrupoodsgrupociudades2 != null) {
                        var sheet = vizodsgrupoodsgrupociudades2.getWorkbook().getActiveSheet();
                        if (ods != "") {

                            sheet.applyFilterAsync(fieldname, ods, tableau.FilterUpdateType.REPLACE);
                        }
                    }
                    if (vizodsgrupoodsgrupociudades3 != null) {
                        var sheet = vizodsgrupoodsgrupociudades3.getWorkbook().getActiveSheet();
                        if (ods != "") {

                            sheet.applyFilterAsync(fieldname, ods, tableau.FilterUpdateType.REPLACE);
                        }
                    }
                    if (vizodsgrupoodsgrupociudades4 != null) {
                        var sheet = vizodsgrupoodsgrupociudades4.getWorkbook().getActiveSheet();
                        if (ods != "") {

                            sheet.applyFilterAsync(fieldname, ods, tableau.FilterUpdateType.REPLACE);
                        }
                    }


                    if (vizodsdashboardinfo != null) {
                        jQuery.each(vizodsdashboardinfo.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {

                            if (ods != "") {

                                sheet.applyFilterAsync(fieldname, ods, tableau.FilterUpdateType.REPLACE);
                            }
                        })
                    }


                }
            }


        }




        function odsConcatFilterCity() {


            var ods = $("#changeOdsConcat2 option:selected").text();
            console.log(ods);
            $.ajax({
                url: 'http://ciudatos.com:8080/api/targets/getTargets/',
                dataType: 'json',
                type: 'GET',
                data: {goal_id: $("#changeOdsConcat2").val()},
                success: function (data) {
                    var html = '<option value="">Seleccione aquí:</option>';
                    jQuery.each(data, function (i, value) {
                        html += '<option value=' + value.id + '>' + value.name + '</option>';

                    })
                    $("#changeMeta2").html(html);

                }
            })


            var fieldname = "ods concat";


        }






        //city
        function cityFilter() {



            if(vizcitydeprmentmap!=null) {
                var ciudad = $("#changeCity option:selected").text();
                var grupo = $("#changeCity option:selected").attr('data-group');
                var imagen = $("#changeCity option:selected").attr('data-img');
                $("#imagen_city").attr('src', "http://ciudatos.com:8080"+imagen);

                console.log(ciudad);
                console.log(grupo);

                var fieldname = "Ciudad";
                //var sheet = vizIndicadores.getWorkbook().getActiveSheet();

                if (activetab == 'CIUDADES') {


                    if (vizcitiprogreso != null) {

                        var sheet = vizcitiprogreso.getWorkbook().getActiveSheet();

                        if (ciudad != "") {

                            sheet.applyFilterAsync(fieldname, ciudad, tableau.FilterUpdateType.REPLACE);
                        }
                    }

                    if (vizcitivabsoluto != null) {

                        var sheet = vizcitivabsoluto.getWorkbook().getActiveSheet();

                        if (ciudad != "") {

                            sheet.applyFilterAsync("Id (Group Cities)", grupo, tableau.FilterUpdateType.REPLACE);
                        }

                    }


                    if (vizcityindicadoresciudad1 != null) {
                        var sheet = vizcityindicadoresciudad1.getWorkbook().getActiveSheet();

                        if (ciudad != "") {

                            sheet.applyFilterAsync("Id (Group Cities)", grupo, tableau.FilterUpdateType.REPLACE);
                        }
                    }
                    if (vizcityindicadoresciudad2 != null) {
                        var sheet = vizcityindicadoresciudad2.getWorkbook().getActiveSheet();

                        if (ciudad != "") {

                            sheet.applyFilterAsync("Id (Group Cities)", grupo, tableau.FilterUpdateType.REPLACE);
                        }
                    }

                    if (vizcityindicadoresciudad3 != null) {
                        var sheet = vizcityindicadoresciudad3.getWorkbook().getActiveSheet();

                        if (ciudad != "") {

                            sheet.applyFilterAsync("Id (Group Cities)", grupo, tableau.FilterUpdateType.REPLACE);
                        }
                    }
                    if (vizcityindicadoresciudad4 != null) {
                        var sheet = vizcityindicadoresciudad4.getWorkbook().getActiveSheet();

                        if (ciudad != "") {

                            sheet.applyFilterAsync("Id (Group Cities)", grupo, tableau.FilterUpdateType.REPLACE);
                        }

                    }

                    if (vizcityprogresohistorico1 != null) {
                        var sheet = vizcityprogresohistorico1.getWorkbook().getActiveSheet();

                        if (ciudad != "") {

                            sheet.applyFilterAsync("Id (Group Cities)", grupo, tableau.FilterUpdateType.REPLACE);
                        }

                    }

                    if (vizcityprogresohistorico2 != null) {
                        var sheet = vizcityprogresohistorico2.getWorkbook().getActiveSheet();

                        if (ciudad != "") {

                            sheet.applyFilterAsync("Id (Group Cities)", grupo, tableau.FilterUpdateType.REPLACE);
                        }

                    }

                    if (vizcityprogresohistorico3 != null) {
                        var sheet = vizcityprogresohistorico3.getWorkbook().getActiveSheet();

                        if (ciudad != "") {

                            sheet.applyFilterAsync("Id (Group Cities)", grupo, tableau.FilterUpdateType.REPLACE);
                        }

                    }
                    if (vizcityprogresohistorico4 != null) {
                        var sheet = vizcityprogresohistorico4.getWorkbook().getActiveSheet();

                        if (ciudad != "") {

                            sheet.applyFilterAsync("Id (Group Cities)", grupo, tableau.FilterUpdateType.REPLACE);
                        }

                    }


                    if (vizcitidashboardinfo != null && vizcitidashboardinfo!=undefined) {
                        jQuery.each(vizcitidashboardinfo.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {

                            if (ciudad != "") {

                                sheet.applyFilterAsync(fieldname, ciudad, tableau.FilterUpdateType.REPLACE);
                            }
                        })
                    }


                    if (vizcityindicadorestrazadores != null) {
                        var sheet = vizcityindicadorestrazadores.getWorkbook().getActiveSheet();
                        if (ciudad != "") {

                            sheet.applyFilterAsync(fieldname, ciudad, tableau.FilterUpdateType.REPLACE);
                        }
                    }


                    if (vizcitymapadecalorporciudad != null) {
                        var sheet = vizcitymapadecalorporciudad.getWorkbook().getActiveSheet();
                        if (ciudad != "") {

                            sheet.applyFilterAsync(fieldname, ciudad, tableau.FilterUpdateType.REPLACE);
                        }
                    }
                    if (vizcitydeprmentmap != null) {
                        var sheet = vizcitydeprmentmap.getWorkbook().getActiveSheet();
                        if (ciudad != "") {

                            sheet.applyFilterAsync(fieldname, ciudad, tableau.FilterUpdateType.REPLACE);
                        }
                    }
                }
            }else{
                initvizcitydeprmentmap();
            }


        }



        function inicadorFIlter() {


            var indicador = $("#changeIndicador option:selected").text();

            console.log(indicador);
            var fieldname = "Indicador";
            if (activetab == 'ODS') {
                if (vizodsdashboardinfo != null) {
                    var sheet = vizodsdashboardinfo.getWorkbook().getActiveSheet().getWorksheets().get("indicadr");
                    if (indicador != "") {

                        sheet.applyFilterAsync(fieldname, indicador, tableau.FilterUpdateType.REPLACE);
                    }
                }


                if (vizodsgrupoodsgrupociudades1 != null) {
                    var sheet = vizodsgrupoodsgrupociudades1.getWorkbook().getActiveSheet();
                    if (indicador != "") {

                        sheet.applyFilterAsync("Indicador (copia 2)", indicador, tableau.FilterUpdateType.REPLACE);
                    }
                }
                if (vizodsgrupoodsgrupociudades2 != null) {
                    var sheet = vizodsgrupoodsgrupociudades2.getWorkbook().getActiveSheet();
                    if (indicador != "") {

                        sheet.applyFilterAsync("Indicador (copia 2)", indicador, tableau.FilterUpdateType.REPLACE);
                    }
                }
                if (vizodsgrupoodsgrupociudades3 != null) {
                    var sheet = vizodsgrupoodsgrupociudades3.getWorkbook().getActiveSheet();
                    if (indicador != "") {

                        sheet.applyFilterAsync("Indicador (copia 2)", indicador, tableau.FilterUpdateType.REPLACE);
                    }
                }
                if (vizodsgrupoodsgrupociudades4 != null) {
                    var sheet = vizodsgrupoodsgrupociudades4.getWorkbook().getActiveSheet();
                    if (indicador != "") {

                        sheet.applyFilterAsync("Indicador (copia 2)", indicador, tableau.FilterUpdateType.REPLACE);
                    }
                }


                if (vizdashboardodstrazador != null) {
                    jQuery.each(vizdashboardodstrazador.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                        if (indicador != "") {

                            sheet.applyFilterAsync(fieldname, indicador, tableau.FilterUpdateType.REPLACE);
                        }
                    })
                }



                console.log(vizmapadecalorporods);
                if (vizmapadecalorporods != null) {

                    var sheet = vizmapadecalorporods.getWorkbook().getActiveSheet();

                    if (indicador != "") {

                        sheet.applyFilterAsync(fieldname, indicador, tableau.FilterUpdateType.REPLACE);
                    }

                }else{
                    initmapadecalorporods();
                }


            }


        }
        function inicadorFIlterCity() {


            var indicador = $("#changeIndicador2 option:selected").text();

            console.log(indicador);
            var fieldname = "Indicador";
            if (activetab == 'CIUDADES') {
                if (vizcitivabsoluto != null) {
                    var sheet = vizcitivabsoluto.getWorkbook().getActiveSheet();
                    if (indicador != "") {

                        sheet.applyFilterAsync(fieldname, indicador, tableau.FilterUpdateType.REPLACE);
                    }
                }
                if (vizcitiprogreso != null) {
                    var sheet = vizcitiprogreso.getWorkbook().getActiveSheet();
                    if (indicador != "") {

                        sheet.applyFilterAsync(fieldname, indicador, tableau.FilterUpdateType.REPLACE);
                    }
                }

            }


        }

        function metaFIlter() {

            var value = $("#changeMeta option:selected").text();

            $.ajax({
                url: 'http://ciudatos.com:8080/api/indicators/getIndicators/',
                dataType: 'json',
                type: 'GET',
                data: {target_id: $("#changeMeta").val()},
                success: function (data) {
                    var html = '<option value="">Seleccione aquí:</option>';
                    jQuery.each(data, function (i, value) {
                        html += '<option value=' + value.id + '>' + value.name + '</option>';

                    })
                    $("#changeIndicador").html(html);


                }
            })


            var fieldname = "Name (Targets)";
            if (activetab == 'ODS') {

                var sheet = vizodsdashboardinfo.getWorkbook().getActiveSheet().getWorksheets().get("metas");
                if (value != "") {

                    sheet.applyFilterAsync(fieldname, value, tableau.FilterUpdateType.REPLACE);
                }


                /*if (vizdashboardodsgrupociudades != null) {
                 jQuery.each(vizdashboardodsgrupociudades.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {

                 if (value != "") {

                 sheet.applyFilterAsync(fieldname, value, tableau.FilterUpdateType.REPLACE);
                 }
                 })
                 }*/


                if (vizodsgrupoodsgrupociudades1 != null) {
                    var sheet = vizodsgrupoodsgrupociudades1.getWorkbook().getActiveSheet();
                    if (value != "") {

                        sheet.applyFilterAsync(fieldname, value, tableau.FilterUpdateType.REPLACE);
                    }
                }
                if (vizodsgrupoodsgrupociudades2 != null) {
                    var sheet = vizodsgrupoodsgrupociudades2.getWorkbook().getActiveSheet();
                    if (value != "") {

                        sheet.applyFilterAsync(fieldname, value, tableau.FilterUpdateType.REPLACE);
                    }
                }
                if (vizodsgrupoodsgrupociudades3 != null) {
                    var sheet = vizodsgrupoodsgrupociudades3.getWorkbook().getActiveSheet();
                    if (value != "") {

                        sheet.applyFilterAsync(fieldname, value, tableau.FilterUpdateType.REPLACE);
                    }
                }
                if (vizodsgrupoodsgrupociudades4 != null) {
                    var sheet = vizodsgrupoodsgrupociudades4.getWorkbook().getActiveSheet();
                    if (value != "") {

                        sheet.applyFilterAsync(fieldname, value, tableau.FilterUpdateType.REPLACE);
                    }
                }


                if (vizdashboardodstrazador != null) {
                    jQuery.each(vizdashboardodstrazador.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {

                        if (value != "") {

                            sheet.applyFilterAsync(fieldname, value, tableau.FilterUpdateType.REPLACE);
                        }
                    })
                }
            }


            //los de ciudad


        }

        function metaFIlterCity() {

            var value = $("#changeMeta2 option:selected").text();

            $.ajax({
                url: 'http://ciudatos.com:8080/api/indicators/getIndicators/',
                dataType: 'json',
                type: 'GET',
                data: {target_id: $("#changeMeta2").val()},
                success: function (data) {
                    var html = '<option value="">Seleccione aquí:</option>';
                    jQuery.each(data, function (i, value) {
                        html += '<option value=' + value.id + '>' + value.name + '</option>';

                    })
                    $("#changeIndicador2").html(html);


                }
            })


        }


