extends ../layouts/default

block vars
    - inner_padding = "padding: 0 15px"

block content
    <img style="width:100%" src="https://res.cloudinary.com/randommonkey/image/upload/v1531505257/ciudatos/cities/zcolwitwfetgjset3bfu.png"/>
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-md-offset-5">
                <ul class="nav nav-pills">
                <li role="presentation"  class="active"><a href="#ODS" data-toggle="tab">ODS</a></li>
                <li role="presentation"><a href="#CIUDADES" data-toggle="tab">CIUDADES</a></li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="tab-content clearfix">
                    <div id="ODS" class="tab-pane fade in active" >
                        <div class="row">
                            <div class="col-md-4">
                                <label>ODS:</label>
                                <select id="changeOdsConcat" class="form-control" onchange="odsConcatFilter(value);">
                                <option value="">All</option>
                                <option value="01 PONER FIN A LA POBREZA EN TODAS SUS FORMAS EN TODO EL MUNDOODS1- .">01 PONER FIN A LA POBREZA EN TODAS SUS FORMAS EN TODO EL MUNDOODS1- .</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>META:</label>
                                <select class="form-control" id="changeTarget" onchange="targetFilter(value);">
                                <option value="">All</option>
                                <option value="Para 2030, ERRADICAR LA POBREZA EXTREMA para todas las personas en el mundo. Actualmente, se considera que viven en la pobreza extrema a las personas que subsisten con menos de 1,25 $ al día">
                                Para 2030, ERRADICAR LA POBREZA EXTREMA para todas las personas en el mundo. Actualmente, se considera que viven en la pobreza extrema a las personas que subsisten con menos de 1,25 $ al día</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>INDICADOR:</label>
                                <select class="form-control" id="changeTarget" onchange="">
                                <option value="">All</option>
                                <option value=""></option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                               <div  id='odsName' style='position: relative; width: 300px; height: 300px'></div>
                                 <div id='odsDescription'  style='position: relative; width: 300px; height: 300px'></div>
                            </div>
                            <div class="col-md-4">
                                <div id='metas'  style='position: relative; width: 300px; height: 300px'></div>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="CIUDADES">
                            ciudades
                    </div>
                </div>
            </div>
        </div>
    </div>

block js
    script(src="/vendors/iframeResizer.min.js")
    script(src="https://public.tableau.com/javascripts/api/tableau-2.min.js")
    script(src="/js/margin.js")
    script.
        var vizMetas;
        var vizOdsName;
        var vizOdsDescription;
        $(document).ready(function () {

            initMetas();
            initodsName();
            initodsDescription();

            $('iframe').iFrameResize({checkOrigin: false})

        })



        function initMetas() {
            var containerDiv = document.getElementById("metas"),
                url = "https://public.tableau.com/views/Ciudatos/metas?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    "ods concat": "",
                    hideTabs: true
                };

            vizMetas = new tableau.Viz(containerDiv, url, options);
        }

        function initodsName() {
            var containerDiv = document.getElementById("odsName"),
                url = "https://public.tableau.com/views/Ciudatos/odsname?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    "ods concat": "",
                    hideTabs: true
                };

            vizOdsName = new tableau.Viz(containerDiv, url, options);
        }

        function odsDescription() {
            var containerDiv = document.getElementById("odsDescription"),
                url = https://public.tableau.com/views/Ciudatos/odsdescription?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    "ods concat": "",
                    hideTabs: true
                };

            vizOdsDescription = new tableau.Viz(containerDiv, url, options);
        }

        function odsConcatFilter(ods) {
            var sheet = vizMetas.getWorkbook().getActiveSheet();
            var sheet2 = vizOdsName.getWorkbook().getActiveSheet();
            var sheet3 = vizOdsDescription.getWorkbook().getActiveSheet();
            if (ods === "") {
                sheet.clearFilterAsync("ods concat");
                sheet2.clearFilterAsync("ods concat");
                sheet3.clearFilterAsync("ods concat");
            } else {
                sheet.applyFilterAsync("ods concat", ods, tableau.FilterUpdateType.REPLACE);
                sheet2.applyFilterAsync("ods concat", ods, tableau.FilterUpdateType.REPLACE);
                sheet3.applyFilterAsync("ods concat", ods, tableau.FilterUpdateType.REPLACE);
            }
        }
        function targetFilter(target) {
            var sheet = vizMetas.getWorkbook().getActiveSheet();
            if (target === "") {
                sheet.clearFilterAsync("Name (Targets)");
            } else {
                sheet.applyFilterAsync("Name (Targets)", target, tableau.FilterUpdateType.REPLACE);
            }
        }
