extends ../layouts/default

block vars
    - inner_padding = "padding: 0 15px"

block content
    <img style="width:100%" src="https://res.cloudinary.com/randommonkey/image/upload/v1531505257/ciudatos/cities/zcolwitwfetgjset3bfu.png"/>
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-md-offset-5">
                <ul class="nav nav-pills">
                <li role="presentation"  class="active"><a href="#ODS" data-toggle="tab">ODS</a></li>
                <li role="presentation"><a href="#CIUDADES" data-toggle="tab">CIUDADES</a></li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="tab-content clearfix">
                    <div id="ODS" class="tab-pane fade in active" >
                        <div class="row"><div class="col-md-12">Seleccione un ODS, una meta y un indicador para ver su información</div></div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>ODS:</label>
                                <select id="changeOdsConcat" class="form-control" onchange="odsConcatFilter(value);">
                                <option value="">All</option>
                                <option value="01 PONER FIN A LA POBREZA EN TODAS SUS FORMAS EN TODO EL MUNDOODS1- .">01 PONER FIN A LA POBREZA EN TODAS SUS FORMAS EN TODO EL MUNDOODS1- .</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>META:</label>
                                <select class="form-control" id="changeTarget" onchange="targetFilter(value);">

                                <option value="">All</option>
                                <option value="Para 2030, ERRADICAR LA POBREZA EXTREMA para todas las personas en el mundo. Actualmente, se considera que viven en la pobreza extrema a las personas que subsisten con menos de 1,25 $ al día">Para 2030, ERRADICAR LA POBREZA EXTREMA para todas las personas en el mundo. Actualmente, se considera que viven en la pobreza extrema a las personas que subsisten con menos de 1,25 $ al día</option>
                                <option value="Para 2030 reducir al menos a la mitad la proporción de hombres, mujeres y niños de todas las edades que viven en la POBREZA EN TODAS SUS DIMENSIONES con arreglo a las definiciones nacionales">Para 2030 reducir al menos a la mitad la proporción de hombres, mujeres y niños de todas las edades que viven en la POBREZA EN TODAS SUS DIMENSIONES con arreglo a las definiciones nacionales</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>INDICADOR:</label>
                                <select class="form-control" id="changeTarget" onchange="indicadorFilter(value)">
                                <option value="">All</option>
                                <option value="Incidencia de pobreza monetaria extrema">Incidencia de pobreza monetaria extrema</option>
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                 <div id='odsdashboardinfo'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                 <div id='dashboardodsgrupociudades'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                 <div id='dashboardodstrazador'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-12">
                        <div id='mapadecalorporods'  style='position: relative; width: auto; height:auto'></div>
                        </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="CIUDADES">
                        <div class="row">
                            <div class="col-md-12">Seleccione una ciudad para ver su información</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-5">
                                <label>Ciudad:</label>
                                 <select id="changeCity" class="form-control" onchange="cityFilter(value);">
                                <option value="">All</option>
                                <option value="Bogotá">Bogotá</option>
                                </select>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div id='citidashboardinfo'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <div id='cityprogreovsabsoluto'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <div id='vizcityindicadoresciudad'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <div id='mapadecalorporods'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

block js
    script(src="/vendors/iframeResizer.min.js")
    script(src="https://public.tableau.com/javascripts/api/tableau-2.min.js")
    script(src="/js/margin.js")
    script.

        //ods
        var vizdashboardodsgrupociudades;
        var vizodsdashboardinfo;
        var vizdashboardodstrazador;
        var vizmapadecalorporods;
        //city
        var vizcitidashboardinfo;
        var vizcityprogreovsabsoluto;
        var vizcityindicadoresciudad;
        $(document).ready(function () {


            //ods
            initodsdashboardinfo();
            initdashboardodsgrupociudades();
            initdashboardodstrazador();
            initmapadecalorporods();
            //city
            initvizcitidashboardinfo();
            initvizcityprogreovsabsoluto();
            initvizcityindicadoresciudad();
            $('iframe').iFrameResize({checkOrigin: false})

        })




        //ods
        function initmapadecalorporods() {
            var containerDiv = document.getElementById("mapadecalorporods"),
                url = "https://public.tableau.com/views/Ciudatos/Mapadecalorporods?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    //"Indicador": "",
                    hideTabs: true
                };
            vizmapadecalorporods = new tableau.Viz(containerDiv, url, options);
        }
        function initodsdashboardinfo() {
            var containerDiv = document.getElementById("odsdashboardinfo"),
                url = "https://public.tableau.com/views/Ciudatos/ODSDASHBOARD-info?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true
                };
            vizodsdashboardinfo = new tableau.Viz(containerDiv, url, options);
        }
        function initdashboardodsgrupociudades() {
            var containerDiv = document.getElementById("dashboardodsgrupociudades"),
                url = "https://public.tableau.com/views/Ciudatos/ODSDASHBOARD-grupociudades?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true
                };
            vizdashboardodsgrupociudades = new tableau.Viz(containerDiv, url, options);
        }
        function initdashboardodstrazador() {
            var containerDiv = document.getElementById("dashboardodstrazador"),
                url = "https://public.tableau.com/views/Ciudatos/ODSDASHBOARD-trazadorporgrupo?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true
                };
            vizdashboardodstrazador = new tableau.Viz(containerDiv, url, options);
        }

        //city
        function initvizcitidashboardinfo() {
            var containerDiv = document.getElementById("citidashboardinfo"),
                url = "https://public.tableau.com/views/Ciudatos/CityDashboardinfo?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true
                };
            vizcitidashboardinfo = new tableau.Viz(containerDiv, url, options);
        }
        function initvizcityprogreovsabsoluto() {
            var containerDiv = document.getElementById("cityprogreovsabsoluto"),
                url = "https://public.tableau.com/views/Ciudatos/CityDashboardprogresovsindicador?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true,
                    onFirstInteractive: function () {
                        vizcityprogreovsabsoluto.getWorkbook().getActiveSheet().getWorksheets().get("Indicador de progreso absoluto ciudad").getFiltersAsync()
                            .then(function (filters) {

                                console.log('mostrando filtrs');
                                console.log(filters);
                                FilterForApples = filters[0].getAppliedValues();
                                FilterForOranges = filters[1].getAppliedValues();

                            });
                    }
                };
            vizcityprogreovsabsoluto = new tableau.Viz(containerDiv, url, options);




        }

        function initvizcityindicadoresciudad() {




            var containerDiv = document.getElementById("vizcityindicadoresciudad"),
                url = "https://public.tableau.com/views/Ciudatos/CityDashboardindicadoresporciudad?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true
                };
            vizcityindicadoresciudad = new tableau.Viz(containerDiv, url, options);
        }


        //filters

        //ods
        function odsConcatFilter(ods) {

            jQuery.each(vizdashboardodsgrupociudades.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                console.log(sheet);
                console.log(ods);
                if (ods === "") {
                    //sheet.clearFilterAsync("ods concat");

                } else {
                      sheet.applyFilterAsync("ods concat", ods, tableau.FilterUpdateType.REPLACE);
                }
            })
            jQuery.each(vizodsdashboardinfo.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                if (ods === "") {
                    //sheet.clearFilterAsync("Indicador");

                } else {
                    sheet.applyFilterAsync("ods concat", ods, tableau.FilterUpdateType.REPLACE);
                }
            })

        }
        function targetFilter(target) {
          //  var sheet = vizMetas.getWorkbook().getActiveSheet();

            //vizdashboardodsgrupociudades.getWorkbook().getActiveSheet().getWorksheets().get("Indicador de ODS por grupo de ciudades").applyFilterAsync("Name (Targets)", target, tableau.FilterUpdateType.REPLACE);

            jQuery.each(vizdashboardodsgrupociudades.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                console.log(sheet);
                console.log(target);
                if (target === "") {
                    //sheet.clearFilterAsync("Name (Targets)");

                } else {
                      sheet.applyFilterAsync("Name (Targets)", target, tableau.FilterUpdateType.REPLACE);
                }
            })
            jQuery.each(vizdashboardodstrazador.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                console.log(sheet);
                console.log(target);
                if (target === "") {
                    //sheet.clearFilterAsync("Name (Targets)");

                } else {
                      sheet.applyFilterAsync("Name (Targets)", target, tableau.FilterUpdateType.REPLACE);
                }
            })
            jQuery.each(vizodsdashboardinfo.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                if (target === "") {
                    //sheet.clearFilterAsync("Indicador");

                } else {
                    sheet.applyFilterAsync("Name (Targets)", target, tableau.FilterUpdateType.REPLACE);
                }
            })


        }
        function indicadorFilter(indicador) {
            //var sheet = vizIndicadores.getWorkbook().getActiveSheet();
            jQuery.each(vizodsdashboardinfo.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                if (indicador === "") {
                    //sheet.clearFilterAsync("Indicador");

                } else {
                    sheet.applyFilterAsync("Indicador", indicador, tableau.FilterUpdateType.REPLACE);
                }
            })
            jQuery.each(vizdashboardodstrazador.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                if (indicador === "") {
                    //sheet.clearFilterAsync("Indicador");

                } else {
                    sheet.applyFilterAsync("Indicador", indicador, tableau.FilterUpdateType.REPLACE);
                }
            })


        }

        //city
        function cityFilter(ciudad) {
            //var sheet = vizIndicadores.getWorkbook().getActiveSheet();
            jQuery.each(vizcitidashboardinfo.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                if (ciudad === "") {
                    //sheet.clearFilterAsync("Indicador");

                } else {
                    sheet.applyFilterAsync("Ciudad", ciudad, tableau.FilterUpdateType.REPLACE);
                }
            })
            jQuery.each(vizcityprogreovsabsoluto.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                if (ciudad === "") {
                    //sheet.clearFilterAsync("Indicador");

                } else {
                    sheet.applyFilterAsync("Ciudad", ciudad, tableau.FilterUpdateType.REPLACE);
                }
            })


        }
