extends ../layouts/default

block vars
    - inner_padding = "padding: 0 15px"

block content
    <img style="width:100%" src="https://res.cloudinary.com/randommonkey/image/upload/v1531505257/ciudatos/cities/zcolwitwfetgjset3bfu.png"/>
    <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#ODS">ODS</a></li>
    <li role="presentation"><a href="#CIUDADES">CIUDADES</a></li>
    </ul>
    <div class="row">
    <div class="col-md-12">
    <div id="vizContainer" style="width:800px; height:700px;"></div>
    <div id="controls" style="padding:20px;">
    ODS: <select id="changeYear" onchange="odsConcatFilter(value);">
    <option value="">All</option>
    <option value="01 PONER FIN A LA POBREZA EN TODAS SUS FORMAS EN TODO EL MUNDOODS1- .">01 PONER FIN A LA POBREZA EN TODAS SUS FORMAS EN TODO EL MUNDOODS1- .</option>

    </select>
    </div>
    </div>
    </div>

block js
    script(src="/vendors/iframeResizer.min.js")
    script(src="https://public.tableau.com/javascripts/api/tableau-2.min.js")
    script(src="/js/margin.js")
    script.
        $(document).ready(function () {
            $('iframe').iFrameResize({checkOrigin: false})
            initViz();
        })
        var viz;

        function initViz() {
            var containerDiv = document.getElementById("vizContainer"),
                url = "https://public.tableau.com/profile/jhainey.perez#!/vizhome/Ciudatos/metas",
                options = {
                    "ods concat": "",
                    hideTabs: true
                };

            viz = new tableau.Viz(containerDiv, url, options);
        }

        function odsConcatFilter(ods) {
            var sheet = viz.getWorkbook().getActiveSheet();
            if (year === "") {
                sheet.clearFilterAsync("ods concat");
            } else {
                sheet.applyFilterAsync("ods concat", ods, tableau.FilterUpdateType.REPLACE);
            }
        }
        