extends ../layouts/default

block vars
    - inner_padding = "padding: 0 15px"

block content
    <img style="width:100%" src="https://res.cloudinary.com/randommonkey/image/upload/v1531505257/ciudatos/cities/zcolwitwfetgjset3bfu.png"/>
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-md-offset-5">
                <ul class="nav nav-pills">
                <li role="presentation"  class="active"><a href="#ODS" data-toggle="tab">ODS</a></li>
                <li role="presentation"><a href="#CIUDADES" data-toggle="tab">CIUDADES</a></li>
                </ul>
            </div>
            <div class="col-md-12">
                <div class="tab-content clearfix">
                    <div id="ODS" class="tab-pane fade in active" >
                        <div class="row"><div class="col-md-12">Seleccione un ODS, una meta y un indicador para ver su información</div></div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>ODS:</label>
                                <select id="changeOdsConcat" class="form-control" onchange="odsConcatFilter(value);">

                                <option value="01 PONER FIN A LA POBREZA EN TODAS SUS FORMAS EN TODO EL MUNDOODS1- .">01 PONER FIN A LA POBREZA EN TODAS SUS FORMAS EN TODO EL MUNDOODS1- .</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>META:</label>
                                <select class="form-control" id="changeTarget" onchange="targetFilter(value);">

                                <option value="">All</option>
                                <option value="Para 2030, ERRADICAR LA POBREZA EXTREMA para todas las personas en el mundo. Actualmente, se considera que viven en la pobreza extrema a las personas que subsisten con menos de 1,25 $ al día">Para 2030, ERRADICAR LA POBREZA EXTREMA para todas las personas en el mundo. Actualmente, se considera que viven en la pobreza extrema a las personas que subsisten con menos de 1,25 $ al día</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>INDICADOR:</label>
                                <select class="form-control" id="changeTarget" onchange="indicadorFilter(value)">
                                <option value="">All</option>
                                <option value="Incidencia de pobreza monetaria extrema">Incidencia de pobreza monetaria extrema</option>
                                </select>
                            </div>
                        </div>

                        <!--<div class="row">
                            <div class="col-md-4">
                               <div  id='odsName' style='position: relative; width: 300; height: 100px'></div>
                                 <div id='odsDescription'  style='position: relative; width: 300; height: 300px'></div>
                            </div>
                            <div class="col-md-4">
                                <div id='metas'  style='position: relative; width: 300; height:100px'></div>
                            </div>
                            <div class="col-md-4">
                                <div id='indicadores'  style='position: relative; width: 300; height:100px'></div>
                            </div>
                        </div>-->
                        <div class="row">
                            <div class="col-md-12">
                                 <div id='odsdashboardinfo'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                 <div id='dashboardodsgrupociudades'  style='position: relative; width: auto; height:auto'></div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="CIUDADES">
                            ciudades
                    </div>
                </div>
            </div>
        </div>
    </div>

block js
    script(src="/vendors/iframeResizer.min.js")
    script(src="https://public.tableau.com/javascripts/api/tableau-2.min.js")
    script(src="/js/margin.js")
    script.
        var vizMetas;
        var vizOdsName;
        var vizOdsDescription;
        var vizIndicadores;
        var vizdashboardodsgrupociudades;
        var vizodsdashboardinfo;
        $(document).ready(function () {

           // initMetas();
            //initodsName();
            //initOdsDescription();
            //initIndicadores();
            initdashboardodsgrupociudades();
            initodsdashboardinfo();

            $('iframe').iFrameResize({checkOrigin: false})

        })



        function initMetas() {
            var containerDiv = document.getElementById("metas"),
                url = "https://public.tableau.com/views/Ciudatos/metas?:embed=y&:display_count=no&publish=yes&:toolbar=no",
                options = {
                    "ods concat": "",
                    hideTabs: true
                };

            vizMetas = new tableau.Viz(containerDiv, url, options);
        }

        function initodsName() {
            var containerDiv = document.getElementById("odsName"),
                url = "https://public.tableau.com/views/Ciudatos/odsname?:embed=y&:display_count=no&publish=yes&:toolbar=no",
                options = {
                   // "ods concat": "",
                    hideTabs: true
                };

            vizOdsName = new tableau.Viz(containerDiv, url, options);
        }

        function initOdsDescription() {
            var containerDiv = document.getElementById("odsDescription"),
                url = "https://public.tableau.com/views/Ciudatos/odsdescription?:embed=y&:display_count=no&publish=yes&:toolbar=no",
                options = {
                    //"ods concat": "",
                    hideTabs: true
                };

            vizOdsDescription = new tableau.Viz(containerDiv, url, options);
        }
        function initIndicadores() {
            var containerDiv = document.getElementById("indicadores"),
                url = "https://public.tableau.com/views/Ciudatos/indicadr?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    //"Indicador": "",
                    hideTabs: true
                };
            vizIndicadores = new tableau.Viz(containerDiv, url, options);
        }
        function initdashboardodsgrupociudades() {
            var containerDiv = document.getElementById("dashboardodsgrupociudades"),
                url = "https://public.tableau.com/views/Ciudatos/ODSDASHBOARD-grupociudades?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true
                };
            vizdashboardodsgrupociudades = new tableau.Viz(containerDiv, url, options);
        }
        function initodsdashboardinfo() {
            var containerDiv = document.getElementById("odsdashboardinfo"),
                url = "https://public.tableau.com/views/Ciudatos/ODSDASHBOARD-info?:embed=y&:display_count=yes&publish=yes&:toolbar=no",
                options = {
                    hideTabs: true
                };
            vizodsdashboardinfo = new tableau.Viz(containerDiv, url, options);
        }

        function odsConcatFilter(ods) {


        }
        function targetFilter(target) {
          //  var sheet = vizMetas.getWorkbook().getActiveSheet();

            vizdashboardodsgrupociudades.getWorkbook().getActiveSheet().getWorksheets().get("Indicador de ODS por grupo de ciudades")applyFilterAsync("Name (Targets)", target, tableau.FilterUpdateType.REPLACE);

            jQuery.each(vizdashboardodsgrupociudades.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                console.log(sheet);
                console.log(target);
                if (target === "") {
                    sheet.clearFilterAsync("Name (Targets)");

                } else {
                      //sheet.applyFilterAsync("Name (Targets)", target, tableau.FilterUpdateType.REPLACE);
                }
            })


        }
        function indicadorFilter(target) {
            //var sheet = vizIndicadores.getWorkbook().getActiveSheet();
            jQuery.each(vizodsdashboardinfo.getWorkbook().getActiveSheet().getWorksheets(), function (index, sheet) {
                if (target === "") {
                    sheet.clearFilterAsync("Indicador");

                } else {
                    sheet.applyFilterAsync("Indicador", target, tableau.FilterUpdateType.REPLACE);
                }
            })


        }
