extends ../layouts/default

block content

	.container
		h1 Tablero Jugadores
	
	iframe#dashboardApp(height="900",allowTransparency="true",frameborder="0",scrolling="yes",style="width:100%;border:none",src="https://randommonkey.shinyapps.io/demo_random_couch/?tablero=1")