extends ../layouts/default

block vars
	- inner_padding = "padding: 0 15px"

block content
	iframe(src="https://randommonkey.shinyapps.io/appCiudatos/" width = "100%" frameborder="0")

block js
	script(src="/vendors/iframeResizer.min.js")
	script(src="/js/margin.js")
	script.
		$(document).ready(function () {
			$('iframe').iFrameResize()
		})