extends ../layouts/default

block vars
	- inner_padding = "padding: 0 15px"

block content
	iframe(src=(data.section ? `http://88.208.3.175:3838/ciudatos-app-2/appCiudatos/?data=${data.section}` :"http://88.208.3.175:3838/ciudatos-app-2/appCiudatos/") width = "100%" frameborder="0")

block js
	script(src="/vendors/iframeResizer.min.js")
	script(src="/js/margin.js")
	script.
		$(document).ready(function () {
			$('iframe').iFrameResize({ checkOrigin: false })
		})