extends ../layouts/default

block content
	.container.margin-top

		.row
			h1 Visualización

	iframe(src="https://randommonkey.shinyapps.io/ciudatos_v1_5_1/", width = "100%", height = "1000px", frameBorder = "0")
