include ../mixins/flash-messages

doctype html
html

	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || 'Ciudatos'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8
		//-[if lt IE 9]
			script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
			script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")
		//-[endif]

		//- BOOTSWATCH
		link(href="https://bootswatch.com/paper/bootstrap.css", rel="stylesheet")

		//- BOOTCARDS 
		//- http://bootcards.org/
		link(href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css", rel="stylesheet")

		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
		link(href="/styles/site.min.css", rel="stylesheet")
		//- SUMOME
		//- script(src="//load.sumome.com/",data-sumo-site-id="e11e4421aaa15d86d73e3e4aa153211ba045af6a7e759175a96d400b04e42276",async="async")

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		#wrapper
			header
				nav.nav-desktop.hidden-xs
					a.nav-discover(href="#")
						span.fa.fa-user
						span.discover-text Preguntas frecuentes
					ul.nav-links
						li: a(href="/visualizacion") Visualizar
						li.dropdown
							a#dcities-pc.dropdown-toggle(data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="true" href="#")
								| Ciudades 
								span.caret
							ul.dropdown-menu(aria-labelledby="dcities-pc")
								li: a(href="#") Bogotá
								li: a(href="#") Medellín
								li: a(href="#") Cali
								li: a(href="#") Bucaramanga
								li: a(href="#") Ibagué
								li: a(href="#") Cartagena
								li: a(href="#") Pereira
								li: a(href="#") Manizales
								li: a(href="#") Barranquilla
						li: a(href="#") Temas
						li: a(href="#") Publicaciones
						li: a(href="#") Blog
						li: a(href="/sobre") Quiénes somos
					ul.nav-social
						li
							a(href="#")
								span.fa.fa-stack
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-facebook.fa-stack-1x.fa-inverse
						li
							a(href="#")
								span.fa.fa-stack
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-twitter.fa-stack-1x.fa-inverse
						li
							a(href="#")
								span.fa.fa-stack
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-linkedin.fa-stack-1x.fa-inverse
						li
							a(href="#")
								span.fa.fa-stack
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-youtube-play.fa-stack-1x.fa-inverse
				nav.navbar.navbar-default.visible-xs
					.container-fluid
						.navbar-header
							button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand(href='#'): img.img-responsive(src="/images/logo.png", alt="Ciudatos logo")
						// Collect the nav links, forms, and other content for toggling
						#navbar.collapse.navbar-collapse
							ul.nav.navbar-nav
								li: a.nav-discover-mobile(href='#') Descubre los datos abiertos
								li: a(href='#') Visualizar
								li.dropdown
									a#dcities.dropdown-toggle(data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="true")
										|Ciudades 
										span.caret
									ul.dropdown-menu(aria-labelledby="dcities")
										li: a(href="#") Bogotá
										li: a(href="#") Medellín
										li: a(href="#") Cali
										li: a(href="#") Bucaramanga
										li: a(href="#") Ibagué
										li: a(href="#") Cartagena
										li: a(href="#") Pereira
										li: a(href="#") Manizales
										li: a(href="#") Barranquilla
								li: a(href='#') Temas
								li: a(href='#') Publicaciones
								li: a(href='#') Blog
								li: a(href='#') Quiénes somos
							ul.social-media-container
								li.social-media
									a(href="#")
										span.fa.fa-stack
											i.fa.fa-circle.fa-stack-2x
											i.fa.fa-facebook.fa-stack-1x.fa-inverse
								li.social-media
									a(href="#")
										span.fa.fa-stack
											i.fa.fa-circle.fa-stack-2x
											i.fa.fa-twitter.fa-stack-1x.fa-inverse
								li.social-media
									a(href="#")
										span.fa.fa-stack
											i.fa.fa-circle.fa-stack-2x
											i.fa.fa-linkedin.fa-stack-1x.fa-inverse
								li.social-media
									a(href="#")
										span.fa.fa-stack
											i.fa.fa-circle.fa-stack-2x
											i.fa.fa-youtube-play.fa-stack-1x.fa-inverse
			main
				block intro
				+flash-messages(messages)
				div#overlay
					.overlay-content
						a#close-overlay(href="#") X
						.custom-container
							.profile
								.profile-icon
									span.fa.fa-user.fa-4x
								.profile-description
									p.profile-description-title Ciudadano
									p.profile-description-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum facere animi ab eos quae corrupti culpa neque optio autem minus officiis placeat aperiam, mollitia consequuntur explicabo doloribus quo. Sapiente, suscipit.
							.profile
								.profile-icon
									span.fa.fa-user.fa-4x
								.profile-description
									p.profile-description-title Periodista
									p.profile-description-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, voluptates corrupti fugiat aperiam hic laudantium ab nostrum inventore, dolor, mollitia harum blanditiis provident sit qui repellendus eum? Quis, provident eaque.
							.profile
								.profile-icon
									span.fa.fa-user.fa-4x
								.profile-description
									p.profile-description-title Analista de datos
									p.profile-description-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus fugiat ratione ipsam nam cupiditate expedita quos vero cumque facere autem pariatur, commodi quo consequatur dolores quis deleniti saepe omnis voluptate!
							.profile
								.profile-icon
									span.fa.fa-user.fa-4x
								.profile-description
									p.profile-description-title Gobierno
									p.profile-description-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dignissimos, expedita non impedit sunt voluptatibus sapiente doloremque dicta iusto rem dolorum, soluta necessitatibus mollitia est porro voluptatum sed illo eaque!
				block content
			footer
				.custom-container
					.footer-info
						p Fundación Corona
						p Calle 70 # 7-30 Bogotá, Colombia
						p Tel: (57+1) 4000031
						p Información:
						p comunicaciones@fcorona.org
						p Línea Ética:
						p seamosintegrosfundacion@fcorona.org
					ul.footer-social
						li
							a(href="#")
								span.fa.fa-stack.fa-lg
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-facebook.fa-stack-1x.fa-inverse
						li
							a(href="#")
								span.fa.fa-stack.fa-lg
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-twitter.fa-stack-1x.fa-inverse
						li
							a(href="#")
								span.fa.fa-stack.fa-lg
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-linkedin.fa-stack-1x.fa-inverse
						li
							a(href="#")
								span.fa.fa-stack.fa-lg
									i.fa.fa-circle.fa-stack-2x
									i.fa.fa-youtube-play.fa-stack-1x.fa-inverse
		//- Google Analytics
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-70153879-1', 'auto');
			ga('send', 'pageview');

		script(src='/js/jquery/jquery-1.11.3.min.js')
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js')

		//- Bootcards
		script.
			bootcards.init( {
			  offCanvasBackdrop : true,
			  offCanvasHideOnMainClick : true,
			  enableTabletPortraitMode : true,
			  disableRubberBanding : true,
			  disableBreakoutSelector : 'a.no-break-out'
			});
			
			document.querySelector('.nav-discover').addEventListener('click', overlayContent);
			document.querySelector('.nav-discover-mobile').addEventListener('click', overlayContent);
			
			document.getElementById('close-overlay').onclick = function() {
				document.getElementById('overlay').classList.toggle('faq-open');
			}

			function overlayContent(event) {
				document.getElementById('navbar').classList.toggle('in');
				document.getElementById('overlay').classList.toggle('faq-open');
			}

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
			
		block js
