div.col-sm-4.hero-feature
	div.appbox
		div.thumbnail
			if app.thumbnail.exists
				a(href='/app/' + app.slug)
					img(src=app._.thumbnail.thumbnail(400,400)).img-responsive
		div.caption.card
			h4 
				a(href='/app/' + app.slug)= app.title
			p= app.description


