/*Fonts*/

/*@import 'https://fonts.googleapis.com/css?family=Lora:400,400i|Montserrat:400,700';*/

body {
    font-family: 'arial', sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h5 {
    font-size: 14px;
    }

.lead {
    font-size: 14px;
}
article{
    margin-top: 50px;
}


.italic {
    font-family: 'Lora', serif;
    font-style: italic;
}

.titleCase{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;   
}



.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-transform: uppercase;   
    color: #1D1D1B;
    font-weight: bold;
}

.intro-message {
    /*color: white;*/
    margin-top: 10%;
    /*text-shadow: 0px 0px 30px #000000;*/
    font-size: 2.5em;
}

.title-white {
    text-shadow: 0px 0px 30px #000000;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #1D1D1B !important;
    font-weight: bold;
}

.card-italic {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 20px;
}

/*PALETA*/

nav ul li a {
    color: black;
}

p {
    font-family: "Lora", serif;
    /*font-weight: 700;*/
    /*color: #103848;*/
}

.img-border {
    border: 10px solid #F1F1F1;
    border-radius: 50%;
}

.card-img.circle {
    border-radius: 50%;
}

.circle-icon {
    margin: 0 25%;
}

.circle-icon-img {
    display: block;
    max-width: 60%;
    height: auto;
    margin: auto;
    padding-top: 20%;
    padding-bottom: 20%;
}

#contact {
    background: url(/img/contact-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

footer.page-footer {
    margin-top: -20px;
    padding-top: 0px;
}


nav a {
    color: #103848;
}
/*
RM PALETTE
rm-yellow: #FFED00;
rm-purple: #CE0A5B;
rm-blue: #64C3D9;
rm-light-grey: #F4F4F4;
rm-black: #1D1D1B;
rm-light-black: #575756;
*/
.rm-yellow {
    background-color: #FFED00;
}

.rm-yellow-text {
    color: #FFED00;
}

.rm-purple {
    background-color: #CE0A5B;
}

.rm-purple-text {
    color: #CE0A5B;
}

.rm-blue {
    background-color: #64C3D9;
}

.rm-blue-text {
    color: #64C3D9;
}

.rm-light-grey {
    background-color: #F4F4F4;
}

.rm-light-grey-text {
    color: #EDEDED;
}

.rm-black {
    background-color: #1D1D1B;
}

.rm-black-text {
    color: #1D1D1B;
}

.rm-light-black {
    background-color: #575756;
}

.rm-light-black-text {
    color: #575756;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.parallax-container {
    height: "100px";
}


/*.parallax-img{
    width: "50%";
}*/

#lang {
    left: 80%;
    top: 2%;
    position: fixed;
    font-family: 'Montserrat', sans-serif;
    z-index: 1001;
}

#lang li {
    display: inline;
    /*list-style-type: none;*/
    padding-right: 5px;
    color: #575756;
}

#lang li a {
    color: #575756;
}

footer p {
    font-size: 14px
}


/*CHANGE DEFAULT NAVBAR SIZE*/


/*nav {
    height: 30px;
    line-height: 30px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 30px;
    line-height: 30px;
}

nav .button-collapse i {
    height: 30px;
    line-height: 30px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 30px;
        line-height: 30px;
    }
}*/
