@facebook-color: rgb(89, 141, 189);
@twitter-color: rgb(64, 191, 230);
@linkedin-color: rgb(22, 156, 199);
@youtube-color: rgb(232, 102, 91);
@intro-section-color: #191a1a;

.intro-section {
  background-color: @intro-section-color;
  padding: 5vw 0;
  position: relative;
}
.facebook,
.facebook:hover {
  color: @facebook-color;
}
.twitter,
.twitter:hover {
  color: @twitter-color;
}
.linkedin,
.linkedin:hover {
  color: @linkedin-color;
}
.youtube,
.youtube:hover {
  color: @youtube-color
}
.section-cities,
.section-topics,
.section-documents {
  padding: 2vw 0;
}
/* Cities */
.city-info {
  position: relative;
  .city-name {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
/* Posts */
.document-item {
  position: relative;
  margin-bottom: 30px;
  .document-info {
    background-color: rgba(36, 92, 161, 0.7);
    font-weight: bold;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 15%;
    width: 85%;
  }
  .document-url {
    font-weight: bold;
    right: 10px;
    position: absolute;
    bottom: 5px;
  }
  @media only screen and (min-width: 992px) {
    margin-bottom: 0;
  }
}
/* General for this view */
.section-title {
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-left: 5px solid #115ea6;
  border-right: 5px solid #115ea6;
  display: inline-block;
  font-weight: bold;
  left: 50%;
  margin-top: 0;
  padding: 0 1vw;
  position: relative;
  transform: translateX(-50%);
}
.section-subtitle {
  font-weight: 300;
  margin: 0;
  margin-bottom: 3vw;
}