p, pre {
  font-size: 18px;
}

pre {
  background: none;
  border-radius: 0;
  border: none;
}

a + pre {
  font-weight: lighter;
}

.section-title {
  border-left: 5px solid;
  border-right: 5px solid;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 15px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  &:hover {
    color: @ciudatos-light-blue;
    text-decoration: none;
  }
}

.home-first-banner {
  background: @ciudatos-dark-blue;
  -webkit-box-shadow: none;
          box-shadow: none;
  @media @small {
    -webkit-box-shadow: 0 10px 15px rgba(38, 50, 126, 0.7);
            box-shadow: 0 10px 15px rgba(38, 50, 126, 0.7);
  }
  color: white;
  position: relative;
  .banner-overlay-image {
    bottom: 0;
    display: none;
    position: absolute;
    right: 15px;
    width: 50%;
    @media @small {
      display: block;
    }
  }
  .container-fluid {
    height: 100%;
    .home-fb-content {
      -ms-flex-line-pack: center;
          align-content: center;
      display: grid;
      grid-template-areas: "banner-info";
      grid-template-columns: 1fr;
      height: 100%;
      @media @small {
        grid-template-areas: "banner-info banner-link";
        grid-template-columns: repeat(2, 1fr);
      }
      @media @medium {
        grid-template-areas: "banner-info . banner-link";
        grid-template-columns: repeat(3, 1fr);
      }
      .home-fb-left {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        grid-area: banner-info;
        p {
          margin: 5px 0;
        }
        .home-fb-social {
          a {
            color: white;
            font-size: 30px;
            .facebook {
              color: @facebook-color;
            }
            .twitter {
              color: @twitter-color;
            }
            .linkedin {
              color: @linkedin-color;
            }
            .youtube {
              color: @youtube-color;
            }
          }
        }
      }
      .home-fb-right {
        display: none;
        z-index: 3;
        a {
          color: white;
          &:hover {
            color: @ciudatos-light-blue;
          }
        }
        @media @small {
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: flex-end;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          grid-area: banner-link;
        }
      }
    }
  }
}

.home-fb-aux {
  -webkit-box-shadow: 0 10px 15px rgba(38, 50, 126, 0.7);
          box-shadow: 0 10px 15px rgba(38, 50, 126, 0.7);
  color: white;
  a {
    color: inherit;
  }
}

.home-second-banner {
  padding: 30px 0 0;
  a {
    color: @ciudatos-dark-blue;    
  }
  .owl-carousel {
    a {
      color: white;
      display: block;
      font-size: 22px;
      position: relative;
      span {
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
      }
    }
  }
}

.home-third-banner {
  padding: 30px 0 0;
  background: @ciudatos-yellow;
  box-shadow: 0px 10px 15px rgba(216, 225, 60, 0.9);
  a {
    color: @ciudatos-dark-blue;    
  }
  .topics-container {
    display: grid;
    grid-gap: 20px;
    height: 250px;
    overflow: auto;
    width: 100%;
    grid-template-columns: 1fr;
    padding-bottom: 10px;
    @media only screen and (min-width: 425px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media @small {
      grid-template-columns: repeat(3, 1fr);
    }
    @media @medium {
      grid-template-columns: repeat(4, 1fr);
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
              box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
      background: #26327e;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
              box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    .topic {
      transition: all 0.3s ease-in-out;
    }
    .topic:hover {
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.home-fourth-banner {
  padding: 30px 0;
  a {
    color: @ciudatos-dark-blue;
  }
}

.home-fifth-banner {
  color: white;
  padding: 30px 0;
  a, pre {
    color: inherit;
  }
  .home-fifth-banner-body {
    display: grid;
    grid-template-columns: 1fr;
    @media @small {
      grid-template-columns: repeat(2, 1fr);
    }
    img {
      max-width: 100%;
    }
    .home-fifth-banner-description {
      margin: auto;
      text-align: left;
      width: 60%;
    }
  }
}

.documents__home {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 200px;
  .document__home {
    background-size: cover;
    background: no-repeat center center;
    min-height: 250px;
    position: relative;
    &:before {
      background: rgba(38, 50, 126, 0.3);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .document__home--info {
      color: white;
      font-size: 20px;
      left: 0;
      position: absolute;
      text-align: left;
      top: 10%;
      width: 85%;
      .document__home--info-title {
        padding: 10px;
        background: @ciudatos-dark-blue;
      }
      .document__home--info-url {
        color: inherit;
        font-weight: bold;
        padding-left: 10px;
        text-shadow: 1px 1px 1px black;
      }
    }
  }
}
