html,
body {
	height: 100%;
}

body.no-scroll {
	overflow: hidden;
}

#wrapper {
	min-height: 100%;
}

a.open-overlay.text-light-blue:active,
a.open-overlay.text-light-blue:visited {
	color: @ciudatos-light-blue;
}
header {
	background: @ciudatos-dark-blue;
	font-family: 'Karla', sans-serif;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	.small-devices-menu {
		background: inherit;
		height: 0;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 100%;
		-webkit-transition: all 0.3s ease-in-out 0.3s;
		transition: all 0.3s ease-in-out 0.3s;
		width: 100%;
		z-index: 2;
		.small-devices-menu-container {
			height: 100%;
		}
		a {
			color: white;
			display: block;
			opacity: 0;
			padding: 5px 0;
			text-align: right;
			-webkit-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
			visibility: hidden;
			&:hover,
			&:active {
				color: @ciudatos-light-blue;
				text-decoration: none;
			}
		}
		@media @medium {
			display: none;
		}
		&.menu-opened {
			-webkit-transition-delay: 0s;
			        transition-delay: 0s;
			height: 50vh;
			a {
				opacity: 1;
				-webkit-transition-delay: 0.3s;
				        transition-delay: 0.3s;
				visibility: visible;
			}
		}
	}
	nav {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		a {
			color: white;
		}

		&.small-devices-nav {
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			color: white;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			padding: 5px 0;
			.Burger(white);
			@media @medium {
				display: none;
			}
		}
		&.medium-devices-nav {
			display: none;
			@media @medium {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
			}
			.nav-link {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				a {
					padding: 10px 5px;
					text-decoration: none;
				}
				&.active {
					background: @ciudatos-light-blue;
					a {
						color: white;
					}
				}
				&:hover {
					background: @ciudatos-light-blue;
					a {
						color: white;
					}
				}
			}
		}
	}
	nav .nav-logo {
		-ms-flex-item-align: center;
		    align-self: center;
		img {
			width: 60px;
		}
	}
}

main {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
					flex: 1 0 auto;
	position: relative;
}

footer {
	background: @ciudatos-footer-color;
	padding: 15px 0;
	color: @ciudatos-footer-color;
	p {
		color: white;
		font-family: 'Lato', sans-serif;
		font-size: small;
		margin: 0;
	}
	.footer-contact {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-left: auto;
		text-align: right;
		a {
			color: inherit;
			margin-bottom: 5px;
		}
		@media @medium {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
			a {
				margin-bottom: 0;
				margin-left: 5px;
			}
		}
	}
}

.document-item {
	color: white;
	margin-bottom: 30px;
	position: relative;
	text-align: left;
	.document-info {
		background-color: rgba(36, 92, 161, 0.7);
		font-weight: bold;
		left: 0;
		padding: 20px;
		position: absolute;
		top: 15%;
		width: 85%;
	}
	.document-url {
		bottom: 5px;
		color: inherit;
		font-weight: bold;
		position: absolute;
		right: 10px;
	}
	@media @medium {
		margin-bottom: 0;
	}
}

.overlay-mask {
	background: @ciudatos-dark-blue;
	color: @ciudatos-light-blue;
	height: 100vh;
	left: 0%;
	overflow: hidden;
	position: absolute;
	transition: all 0.3s linear;
	top: 100%;
	width: 0;
	&.opened {
		overflow: auto;
		width: 100%;
	}
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
						box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
		background: @ciudatos-yellow;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
						box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	.overlay-content {
		padding: 20px 40px;
		display: flex;
		flex-direction: column;
		.overlay-nav {
			text-align: right;
			font-weight: bold;
			font-size: 18px;
			a {
				color: inherit;
			}
		}
		.overlay-content {
			display: grid;
			grid-template-columns: 1fr;
			.overlay-profile {
				display: grid;
				grid-gap: 20px;
				grid-template-columns: auto 1fr;
				margin-bottom: 20px;
				img {
					align-self: center;
					justify-self: center;
					max-width: 60%;
				}
			}
		}
	}
}