@facebook-color: #598dbd;
@twitter-color: #40bfe6;
@linkedin-color: #169cc7;
@youtube-color: #e8665b;
@hamburger-width: 20px;
@header-color: #11579a;
@footer-color: #3f3a33;

*,
*:before,
*:after {
  outline: none;
}
html, 
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}
header {
  background-color: @header-color;
  font-family: 'Karla', sans-serif;
  padding: 1vw 0;
  a span {
    margin-right: 5px;
  }
  /* Hamburger button */
  .hamburger { 
    height: 24px;
    padding: 0;
    position: relative;
    width: @hamburger-width;
    .hamburger-box {
      width: @hamburger-width;
    }
    .hamburger-inner,
    .hamburger-inner:before,
    .hamburger-inner:after {
      background-color: white;
      height: 2px;
      width: @hamburger-width;
    }
    .hamburger-inner:before { top: -5px }
    .hamburger-inner:after { bottom: -5px }
  }
  .mobile-nav {
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.25s linear;
    a {
      padding: 1vw 0;
    }
  }
  .mobile-nav.opened {
    height: auto;
    padding: 2vw 0 0;
    transition: all 0.25s linear;
  }
}
main {
  flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -webkit-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
}
footer {
  background-color: @footer-color;
  padding: 1.5vw 0;
  p {
    margin: 0;
  }
  .footer-icons {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}