// Override Bootstrap variables in this file, e.g.

@font-size-base: 14px;
@ciudatos-dark-blue: #26327e;
@ciudatos-light-blue: #00cef6;
@ciudatos-light-gray: #e8ecf1;
@ciudatos-yellow: #d8e13c;
@ciudatos-footer-color: #252b33;
@facebook-color: #598dbd;
@twitter-color: #40bfe6;
@linkedin-color: #169cc7;
@youtube-color: #e8665b;
