@import "bootstrap/bootstrap.less";
@import "site/mixins.less";
@import "site/variables.less";
@import url('https://fonts.googleapis.com/css?family=Hind:300,400|Karla|Lato:300,400');

@small: ~"only screen and (min-width: 768px)";
@medium: ~"only screen and (min-width: 992px)";
@large:  ~"only screen and (min-width: 1200px)";

@import "site/general.less";
@import "site/layout.less";
@import "site/home.less";
@import "site/about.less";

