@import "bootstrap/bootstrap.less";
@import "site/mixins.less";
@import "site/variables.less";
@import url('https://fonts.googleapis.com/css?family=Hind:300,400|Karla|Lato:300,400');

@small: ~"only screen and (min-width: 768px)";
@medium: ~"only screen and (min-width: 992px)";
@large:  ~"only screen and (min-width: 1200px)";

@import "site/general.less";
@import "site/layout.less";
@import "site/home.less";
@import "site/about.less";

.public .tab-toolbar {
  display:none;
}

.tabToolbarButtonImg{display:none} 

#cityselectordashboard2{background: white; padding: 12px;}
#odsselectordashboard2{background: white; padding: 12px;}

.border-botom{
  border-bottom: 1px solid green;
}

.form-control{
    color: black;
    /*background-color: #c2d84a;*/
    background-image: none;
    border: 1px solid #afc536;
    border-radius: 0px;
    width: 105%; 
    height: 28px;
}

.select_box{
  overflow: hidden;
    border: 3px solid #a1b534;
    position: relative;
    background: #c2d84a;
}
.select_box:after{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #26327e;
  position: absolute;
  top: 40%;
  right: 5px;
  content: "";
  z-index: 98;
 }
.select_box select{
 /* width: 220px;*/
  border: 0;
  position: relative;
  z-index: 99;
  background: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #000;
    background-color: #c2d84a;
}
.nav-pills>li>a {
    border-radius: 0px;
}

h4{
background: #4487da;
    color: white;
    padding: 6px
}



.titleselector{
    border-right: 4px solid #4fb7de;
    border-left: 4px solid #4fb7de;
    font-size: 14px;
}
